{% assign img_size = section.settings.img_width | append: 'x' | append:section.settings.img_height %} 
<div class="article-listing__image">
    {% unless request.page_type == 'article' %}
    <a class="article-listing__image" href="{{ article.url }}">
    {% endunless %}

        <img
            class="article-img img-fluid d-block {{
                class
            }} {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
            src="{{ article.image | img_url: img_size, crop: 'center' }}"
            alt="{{ article.image.alt | escape }}"
            width="{{ section.settings.img_width }}"
            height="{{ section.settings.img_height }}"
            loading="lazy"
        />

        {% unless request.page_type == 'article' %}
            {% for tag in article.tags %}
                {% if forloop.first == true %}
                    {% assign bgColor = tag | replace: ' ', '_' | downcase %}
                    <a
                        href="{{ blog.url }}/tagged/{{ tag | handle }}"
                        class="article-listing__tag tag"
                        style="{{
                            settings[bgColor] | prepend: 'background-color: ' | append: ';'
                        }}">
                        {{ tag }}
                    </a>
                {% endif %} 
            {% endfor %} 
        {% endunless %}

    {% unless request.page_type == 'article' %}
        </a>
    {% endunless %}
</div>