{% if paginate.pages > 1 %}

    {% unless layout == blank %}
        {% assign layout_append = layout | prepend: '&layout=' %}
    {% endunless %}

    <nav
        class="pagination-nav py-6"
        role="navigation"
        aria-label="{{ 'general.pagination.label'| t }}">
        <ul class="pagination article-listing__paginate mb-0">
            
            <!-- Previous -->
            <li class="page-item prev-btn {% if paginate.previous == blank %}disabled{% endif %}">
                <a 
                    class="btn btn-outline-primary" 
                    {% if paginate.previous %}
                        href="{{ paginate.previous.url | append: layout_append }}"
                    {% else %}
                        href="#"
                        tabindex="-1" 
                        aria-disabled="true" 
                    {% endif %}
                    aria-label="{{ 'general.previous' | t }}">
                    <span aria-hidden="true">
                        PREV
                    </span>
                </a>
            </li>
            <li class="current-page-section">Page <input type="number" min="1" max="{{ paginate.pages }}" class="current-page" onchange="javascript:if(this.value > {{ paginate.pages }}) return; location.href = window.location.pathname += '?page=' + this.value" value="{{ paginate.current_page }}" /> of {{ paginate.pages }}</li>
            <!-- Parts -->
            {% for part in paginate.parts %}
                <li 
                    class="page-item {% if part.title == paginate.current_page %}active{% endif %}" 
                    aria-current="{% if part.title == paginate.current_page %}page{% endif %}" style="display: none">
                    <a 
                        class="page-link"
                        {% if part.title == paginate.current_page %}
                            href="#"
                            tabindex="-1" 
                            aria-disabled="true"
                        {% else %}
                            href="{{ part.url | append: layout_append }}"
                        {% endif %}
                        >
                        <span class="visually-hidden">
                            {{ 'general.pagination.page' | t }}
                        </span>
                        {{ part.title }}
                    </a>
                </li>
            {% endfor %}

            <!-- Next  -->
            <li class="page-item next-btn {% if paginate.next == blank %}disabled{% endif %}">
                <a 
                    class="btn btn-outline-primary" 
                    {% if paginate.next %}
                        href="{{ paginate.next.url  | append: layout_append }}"
                    {% else %}
                        href="#"
                        tabindex="-1" 
                        aria-disabled="true" 
                    {% endif %}
                    aria-label="{{ 'general.next' | t }}">
                    <span aria-hidden="true">
                        NEXT
                    </span>
                </a>
            </li>

        </ul>
    </nav>
{% endif %}
