{%- if product -%}
<div class="modal fade product-modal" id=modal-{{product.id}} tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">                    
            <img width=60 src="{{ 'dark_arrow.svg' | asset_url }}" >
        </button>
      </div>
      <div class="modal-body">
        <div class="product-container container">
        <div class="row">

            <!-- Image -->
            <div class="col-md-5 order-md-2">                      
                {% assign img_size   = '680x' %}
                {% assign img_height = 680 | divided_by: media.aspect_ratio %}
                {% comment %} The third image will be used here {% endcomment %}
                {% assign media = product.media[2] %}
                {% if media %}
                <div class="product-media">
                    <!-- Weight -->
                    <label class="product-weight">
                        {{ product.variants.first.weight | weight_with_unit }}
                    </label>
                    <img
                        class="d-block img-fluid product-media-main"
                        src="{{ media.preview_image | img_url: img_size, crop: 'center' }}"
                        data-src="{{ media.preview_image | img_url: img_size, crop: 'center' }}"
                        alt="{{ media.alt | escape }}"
                        width="680"
                        height="{{ img_height }}"
                        loading="lazy">
                    <img class="product-media-attach" src="{{ 'meditation.svg' | asset_url }}" >
                    <img width=120 class="product-media-deco" src="{{ 'sun.png' | asset_url }}" >

                </div>
                {% endif %}
            </div>

            <div class="col-md-7 order-md-1">

                <!-- Heading -->
                <h2 class="heading my-1 text-uppercase">
                    {{ product.title }}
                    <!-- Type -->
                    {% if product.type != blank %}
                        <span class="d-block small mb-1 mt-1">
                            {{ product.type }}
                        </span>
                    {% endif %}
                </h2>

                <!-- Description -->
                {% if product.description != blank %}
                    {%- capture loadnew -%}{{- product.description | replace: '<!--[', '[' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: ']-->', ']' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: ']</p>', ']' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '<p>[', '[' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="end"]', '</div>' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="detail"]', '<div class="product-detail">' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="badge"]', '<div class="product-badge">' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="info"]', '<div class="product-info">' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="nutrition"]', '<div class="product-nutrition">' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="ingredient"]', '<div class="product-ingredient">' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: '[productdetails action="cta"]', '<div class="product-cta">' -}}{%- endcapture -%}
                    {% comment %} {%- capture loadnew -%}{{- loadnew | replace: '[button url=', '<a class="btn btn-outline-primary" href=' -}}{%- endcapture -%}
                    {%- capture loadnew -%}{{- loadnew | replace: 'button]', '/>' -}}{%- endcapture -%} {% endcomment %}
                    {{ loadnew }}
                {% endif %}
            </div>

             <!-- Main Info -->
            <div class="col-md-12 product-info-main order-md-3">  

            </div>

        </div>
    </div>
      </div>
    </div>
  </div>
</div>

{%- endif -%}