{% capture productdetails %}{% include 'shortcode-render' render:'action' %}{% endcapture %}
{% case productdetails %}
    {% when 'detail' %}
<div class="product-detail">

    {% when 'cta' %}
<div class="product-cta">

    {% when 'badge' %}
<div class="product-badge">

    {% when 'nutrition' %}
<div class="product-nutrition">
   
    {% when 'ingredient' %}
<div class="product-ingredient expandable">

    {% when 'info' %}
<div class="product-info">

    {% when 'end' %}
</div>
    
    {% else %}
  {% endcase %}