{% capture background %}{% include 'shortcode-render' render:'background' %}{% endcapture %}
{% capture heading %}{% include 'shortcode-render' render:'heading' %}{% endcapture %}
{% capture copy %}{% include 'shortcode-render' render:'copy' %}{% endcapture %}
{% capture imageUrl %}{% include 'shortcode-render' render:'imageUrl' %}{% endcapture %}
{% capture imageAlt %}{% include 'shortcode-render' render:'imageAlt' %}{% endcapture %}
{% capture number %}{% include 'shortcode-render' render:'number' %}{% endcapture %}
{% capture numberTheme %}{% include 'shortcode-render' render:'numberTheme' default:'dark' %}{% endcapture %}

<div
    class="blog-post-section blog-post-section__wrapper"
    style="{{
        background
            | prepend: 'background-color: '
            | append: ';'
    }}"
>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6">
                <img class="blog-post-section__image" src="{{ imageUrl }}" alt="{{ imageAlt }}" />
            </div>
            <div class="col-12 col-lg-5 blog-post-section__copy">
                <div class="blog-post-section__number blog-post-section__number--v1 blog-post-section__number--{{ numberTheme}}">{{ number }}</div>
                <h2 class="h1">{{ heading }}</h2>
                <p>{{ copy }}</p>
            </div>
        </div>
    </div>
</div>
