{% capture buttonLink %}{% include 'shortcode-render' render:'url' default:'' %}{% endcapture %}
{% capture buttonText %}{% include 'shortcode-render' render:'text' default:'' %}{% endcapture %}

<a {% if buttonLink != '' %} href="{{buttonLink}}" {% endif %} class="btn btn-outline-primary">
    {% if buttonText != '' %} {{buttonText}} {% endif %}
</a>
