<ul class="social-icons-listing {{ location }}">
    {% if settings.instagram_id != blank %}
    <li>
        <a href="//instagram.com/{{ settings.instagram_id }}" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.twittername != blank %}
    <li>
        <a href="{{ settings.twittername }}" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.facebook_url != blank %}
    <li>
        <a href="{{ settings.facebook_url }}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
            <text id="_" data-name="" transform="translate(0 26)" fill="#001c31" font-size="30" font-family="'Font Awesome 5 Brands', 'Font Awesome \35  Brands'"><tspan x="0" y="0"></tspan></text>
          </svg>
        </a>
    </li>
    {% endif %}
</ul>
