.accordion {
    &-button {
        border: 0;
        border-top: 1px solid #dbdbdb;
        font-weight: 600;
        &:active,
        &:focus {
            box-shadow: none;
            border-color: #dbdbdb;
        }
    }
    &-collapse {
        border: 0;
    }
}
