.article-listing {
    &__image {
        position: relative;

        .tag {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
        }
    }
    &__tag {
        padding: 24px 16px;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 1;
        font-weight: bold;
        display: inline-block;
        color: $white !important;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;

        margin-bottom: 80px;

        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
        }
    }
    &__filter {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 130px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 13.5px);
        max-width: calc(50% - 13.5px);
        padding: 18px 20px;
        border-radius: 10px;
        font-size: 23px;
        line-height: 1;
        color: $white;
        font-weight: bold;
        cursor: pointer;
        opacity: 0.5;
        margin-bottom: 20px;
        text-transform: uppercase;

        &:last-child {
            margin-bottom: 0;
        }

        &.selected,
        &.all {
            opacity: 1;
        }

        @include media-breakpoint-up(md) {
            flex-basis: calc(20% - 9px);
            max-width: calc(20% - 9px);
        }

        @include media-breakpoint-up(lg) {
            font-size: 26px;
            height: 150px;
        }

        .arrow {
            position: absolute;
            right: 20px;
            top: 18px;
        }
    }
    &__paginate {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-size: 20px;
        line-height: 1;

        .current-page {
            height: 62px;
            width: 140px;
            text-align: center;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            margin: 0 20px;
            border: 1px solid $primary;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .btn {
            max-width: 140px;
        }

        .page-item {
            &.disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }

        @include media-breakpoint-down(md) {
            .current-page-section {
                order: 1;
                margin-bottom: 20px;
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
            .next-btn {
                order: 3;
            }
            .prev-btn {
                order: 2;
            }
        }
    }
}

#blog .container {
    max-width: 1132px;
    margin: 0 auto;
}
