// Javascript enabled/disabled
.no-js .js {
    display: none;
}
.js .no-js {
    display: none;
}

// Cookies enabled/disabled
.no-cookies .cookies {
    display: none;
}
.cookies .no-cookies {
    display: none;
}

// Body
body {
    background-color: var(--color-body-bg);
    color: var(--color-body-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Main {
#main {
    flex: 1;
}

// Links
a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-darken-10);
}

// Forms
.form-control:focus,
.form-select:focus {
    border-color: var(--color-primary);
    box-shadow: none;
    border-width: 2px;
}

// Backgrounds
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-secondary {
    background-color: var(--color-secondary) !important;
}
.bg-dark {
    background-color: var(--color-dark) !important;
}
.bg-light {
    background-color: var(--color-light) !important;
}

// Text
.text-primary {
    color: var(--color-primary) !important;
}
.text-secondary {
    color: var(--color-secondary) !important;
}
.text-dark {
    color: var(--color-dark) !important;
}

.h1 {
    font-size: $h1-font-size;
    text-transform: uppercase;
    @include media-breakpoint-down(xxl) {
        font-size: $h2-font-size;
    }
}

.h2 {
    font-size: $h2-font-size;
    text-transform: uppercase;
    @include media-breakpoint-down(xxl) {
        font-size: $h3-font-size;
    }
}

.h3 {
    font-size: $h3-font-size;
    text-transform: uppercase;
    @include media-breakpoint-down(xxl) {
        font-size: $h4-font-size;
    }
}

// Borders
.border-primary {
    border-color: var(--color-primary) !important;
}
.border-secondary {
    border-color: var(--color-secondary) !important;
}
.border-dark {
    border-color: var(--color-dark) !important;
}
.border-light {
    border-color: var(--color-light-darken-10) !important;
}

// Buttons
.btn {
    max-width: 350px;
    transition: all 0.3s;
}

// Buttons - Link
.btn-link {
    color: var(--color-primary);
    &:hover,
    &:focus {
        color: var(--color-primary-darken-10);
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
    }
}

// Buttons - Primary
.btn-primary,
.btn-primary:disabled {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-outline-primary,
.btn-outline-primary:disabled {
    color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 var(--color-primary-darken-10);
    width: 265px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--color-primary-darken-10);
    border-color: var(--color-primary-darken-10);
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    background-color: transparent;
    border-color: var(--color-primary);
    box-shadow: inset 265px 0 0 var(--color-primary-darken-10);
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
}

// Buttons - Secondary
.btn-secondary,
.btn-secondary:disabled {
    background: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-outline-secondary,
.btn-outline-secondary:disabled {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: var(--color-secondary-darken-10);
    border-color: var(--color-secondary-darken-10);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-outline-secondary:focus,
.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-secondary-alpha-25);
}

// Buttons - Dark
.btn-dark,
.btn-dark:disabled {
    background: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-outline-dark,
.btn-outline-dark:disabled {
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background-color: var(--color-dark-darken-10);
    border-color: var(--color-dark-darken-10);
}

.btn-outline-dark:hover,
.btn-outline-dark:active {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-dark:focus,
.btn-dark:active:focus,
.btn-outline-dark:focus,
.btn-outline-dark:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-dark-alpha-25);
}

// Buttons - Light
.btn-light,
.btn-light:disabled {
    background: var(--color-light);
    border-color: var(--color-light);
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: var(--color-light-darken-10);
    border-color: var(--color-light-darken-10);
}

.btn-light:focus,
.btn-light:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-dark-alpha-25);
}

// Alerts
.alert-primary,
.alert-primary,
.alert-primary {
    border-color: transparent;
    color: white;
    &.alert-primary {
        background: var(--color-primary);
    }
    &.alert-secondary {
        background: var(--color-secondary);
    }
    &.alert-dark {
        background: var(--color-dark);
    }
}

// Img thumbnail
.img-thumbnail {
    border-color: var(--color-light-darken-10);
}

// Pagination
.page-link {
    color: var(--color-primary);
    &:hover,
    &:focus {
        color: var(--color-primary-darken-10);
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
    }
}

.page-item.active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.page-content {
    width: 50%;
    margin-top: 80px;
    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}

// Dropdown
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--color-primary);
}

// Toast
// Toast
.toast-wrapper {
    display: flex;
    &.bottom-left {
        margin-left: 15px;
    }
    &.bottom-center {
        justify-content: center;
    }
    &.bottom-right {
        justify-content: flex-end;
        margin-right: 15px;
    }
    .toast {
        z-index: 99999999999999999;
        position: fixed;
        min-width: 280px;
        bottom: 15px;
        margin-bottom: 0 !important;
        background-color: rgba(white, 0.95);
        @include media-breakpoint-down(sm) {
            width: calc(100% - 30px);
            max-width: none;
        }
    }
}

// Opacity
@each $value in $opacities {
    .opacity-#{$value} {
        opacity: #{$value} + '%';
    }
}

// Object fit
.object-fit-contain {
    object-fit: contain;
}
.object-fit-cover {
    object-fit: cover;
}
.object-fit-fill {
    object-fit: fill;
}
.object-fit-scale-down {
    object-fit: scale-down;
}
