.blog-post-section {
    &__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__image {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        &--v3 {
            max-width: 400px;
            @include media-breakpoint-up(lg) {
                margin-top: -35%;
                max-width: 100%;
            }
        }
    }
    &__copy {
        position: relative;
        z-index: 2;

        @include media-breakpoint-down(lg) {
            margin-top: 80px;
        }

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__number {
        position: absolute;
        font-size: 200px;
        line-height: 0.65;
        font-weight: 900;
        width: auto;
        z-index: -1;

        @include media-breakpoint-up(lg) {
            font-size: 551px;
        }

        &--dark {
            color: #311800;
            opacity: 0.05;
        }

        &--light {
            color: #ffffff;
            opacity: 0.24;
        }

        &--v1 {
            top: -80px;
            left: 0;

            @include media-breakpoint-up(lg) {
                top: 50%;
                transform: translateY(-50%);
                right: -23%;
                left: unset;
            }

            @include media-breakpoint-up(xxl) {
                right: -33%;
            }
        }

        &--v2 {
            top: -80px;
            left: 0;

            @include media-breakpoint-up(lg) {
                left: -30%;
                top: -20px;
            }
        }

        &--v3 {
            top: -80px;
            left: 0;

            @include media-breakpoint-up(lg) {
                left: -30%;
                top: -80px;
            }
        }
    }
}
