.carousel {
    margin-top: -90px;
    &-caption {
        right: initial;
        max-width: 650px;
        width: 50%;
        text-align: left;
        bottom: initial;
        top: 50%;
        transform: translateY(-30%);
        left: 12px;

        &-wrap {
            position: absolute;
            inset: 0;
        }

        @include media-breakpoint-down(md) {
            width: 80%;
            top: 35%;
        }

        h1 {
            text-transform: uppercase;
            @media (max-width: 1600px) {
                left: 10%;
                font-size: 4vw;
            }
            @include media-breakpoint-down(md) {
                font-size: 8vw;
            }
        }
        p {
            font-size: 28px;
            @media (max-width: 1600px) {
                font-size: 1.8vw;
            }
            @include media-breakpoint-down(md) {
                font-size: 5vw;
            }
        }
    }
    &-control {
        &-prev,
        &-next {
            text-decoration: none;
            font-size: 62px;
            font-weight: 600;
            opacity: 1;
            margin-bottom: -8%;
            @media (max-width: 1600px) {
                font-size: 4vw;
            }
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
    &-dark {
        a {
            color: #000;
            &:active,
            &:focus {
                color: #000;
            }
        }
    }
}
