.expandable {
    overflow: hidden;
    position: relative;
    transition: all 0.3s;

    &-btn,
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:after {
        content: '';
        display: block;
        box-shadow: 1px -10px 11px 10px #fff;
        width: 100%;
        background: #fff;
        height: 40px;
        bottom: -15px;
    }
    &-btn {
        z-index: 1;
        background: none;
        border: none;
        font-weight: 600;
        padding: 0;
        &:active,
        &:focus {
            outline: none;
        }
    }
    &.expanded {
    }
}
