// Footer blocks
#footer-blocks {
    .rte,
    .footer-menu,
    .social-menu {
        font-size: 0.95rem;
    }
    &.text-body {
        .nav-link {
            color: var(--color-body-text);
            &:hover {
                color: var(--color-body-text-lighten-10);
            }
        }
    }
    &.text-white {
        a:not(.btn) {
            color: white;
            transition: all 0.2s ease-out;
            &:hover {
                color: rgba(white, 0.75);
            }
        }
    }
}

// Footer
#footer {
    margin: 60px auto;

    @include media-breakpoint-down(lg) {
        margin: 64px auto 24px;
    }

    &.text-white {
        a:not(.btn) {
            color: white;
            transition: all 0.2s ease-out;
            &:hover {
                color: rgba(white, 0.75);
            }
        }
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            justify-content: center;
            flex-direction: column;
        }

        .nav {
            @include media-breakpoint-down(lg) {
                text-align: center;
                flex-direction: column;

                .nav-item {
                    margin-bottom: 40px;

                    &:last-item {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
