.gallery {
    .gallery-item-inner {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-out;
        }
        &.img-thumbnail:after {
            left: 0.25rem;
            top: 0.25rem;
            width: calc(100% - 0.5rem);
            height: calc(100% - 0.5rem);
        }
        &.rounded:after {
            border-radius: $border-radius;
        }
    }
}

// Overlay style (light, dark, blur)
.gallery {
    &.overlay-light {
        &.overlay-opacity-25 {
            .gallery-item-inner:after {
                background: rgba(white, 0.25);
            }
            a:hover,
            a:focus {
                .gallery-item-inner:after {
                    background: rgba(white, 0.35);
                }
            }
        }
        &.overlay-opacity-50 {
            .gallery-item-inner:after {
                background: rgba(white, 0.5);
            }
            a:hover,
            a:focus {
                .gallery-item-inner:after {
                    background: rgba(white, 0.6);
                }
            }
        }
        &.overlay-opacity-75 {
            .gallery-item-inner:after {
                background: rgba(white, 0.75);
            }
            a:hover,
            a:focus {
                .gallery-item-inner:after {
                    background: rgba(white, 0.85);
                }
            }
        }
    }
    &.overlay-dark {
        &.overlay-opacity-25 {
            .gallery-item-inner:after {
                background: rgba(black, 0.25);
            }
            a:hover,
            a:focus {
                .gallery-item-inner:after {
                    background: rgba(black, 0.35);
                }
            }
        }
        &.overlay-opacity-50 {
            .gallery-item-inner:after {
                background: rgba(black, 0.5);
            }
            a:hover,
            a:focus {
                .gallery-item-inner:after {
                    background: rgba(black, 0.6);
                }
            }
        }
        &.overlay-opacity-75 {
            .gallery-item-inner:after {
                background: rgba(black, 0.75);
            }
            a:hover,
            a:focus {
                .gallery-item-inner:after {
                    background: rgba(black, 0.85);
                }
            }
        }
    }
    &.overlay-blur {
        .gallery-item-inner:after {
            backdrop-filter: saturate(180%) blur(3px);
        }
    }
}

// Caption
.gallery {
    .gallery-item-caption {
        position: absolute;
        z-index: 1;
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.overlay-light {
        .gallery-item-caption {
            color: var(--color-body-text);
        }
    }
    &.overlay-dark {
        .gallery-item-caption {
            color: white;
        }
    }
}
