#navbar {
    z-index: 10;
    > .container {
        position: relative;
        
        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }

        &::before {
            content: ' ';
            display: block;
            width: 400vh;
            height: 400vh;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1772.223' height='1693.527' viewBox='0 0 1772.223 1693.527'%3E%3Cpath id='Path_6029' data-name='Path 6029' d='M1541.238,1728.739h-24.855c-11.861-1.461-23.736-2.7-35.713-2.417-30.369.724-60.678.155-90.812-4.353a33.77,33.77,0,0,1-16.871-7.439c-3.41-2.8-6.658-5.834-10.26-8.349-4.518-3.16-9.506-4.709-15.016-2.632-1.6.6-3.107,1.289-2.916,3.335a3.323,3.323,0,0,0,2.7,2.869c2.225.605,4.484,1.06,6.725,1.612,2.359.582,4.721,1.608,4.377,4.493-.357,2.945-3.105,3.07-5.4,3.271a23.957,23.957,0,0,1-11.418-2.263c-23.375-9.851-47.637-17.425-70.369-28.956a163.566,163.566,0,0,0-23.682-9.688c-27.412-8.85-52.85-21.893-77-37.612-24.857-16.168-49.576-32.5-76.844-44.323-14.715-6.376-26.564-16.712-36.264-29.676a115.638,115.638,0,0,0-37.537-32.714,141.612,141.612,0,0,1-27-19.505c-11.072-10.006-22.7-19.58-36.328-25.438-20.508-8.812-34.707-24.259-46.639-42.572-22.527-34.565-42.414-70.566-56.713-109.584a72.332,72.332,0,0,0-8.449-16.1c-11.1-16.2-22.357-32.3-34.734-47.487-24.414-29.982-41.686-63.514-50.588-101.6-5.93-25.4-13.453-50.337-21.566-75.131-12.107-37-18.162-75.315-20.064-114.238-2.316-47.067,2.658-93.332,13.566-139.218,10.775-45.318,21.252-90.383,42.59-132.285,11.3-22.2,18.836-46.389,24.086-71.135,5.17-24.339,8.525-49.2,17.5-72.538,17.523-45.578,32.018-92.23,47.443-138.555,15.191-45.616,34.605-89.113,61.227-129.2,18.9-28.458,42.107-50.9,73.813-63.39,2.143-.844,4.182-1.96,6.27-2.952,77.736-36.994,157.223-69.065,240.959-89.032a74.578,74.578,0,0,0,21.631-8.842c36.209-21.922,75.219-36.007,116.5-44.135,35.012-6.891,70.414-11,105.531-16.991,19.684-3.358,38.971-8.98,58.814-11.83,19.145-2.748,38.514-3,57.6-5.823,33.916-5.016,67.748-10.537,102.2-9.009,29.811,1.32,59.164-2.98,88.449-7.949,35.1-5.957,69.949-6.082,104.611,3.529,27.729,7.687,55.1,16.993,83.369,22.368,42.152,8.015,79.365,26.216,112.709,53.5a405.217,405.217,0,0,0,42.34,30.44c42.529,26.48,78.328,60.679,110.148,99.634,29.258,35.819,49.02,77.168,68.469,118.88,15.6,33.451,30.186,67.138,36.359,103.96a51.932,51.932,0,0,0,9,21.12,223.135,223.135,0,0,1,22.746,41.107c13.924,33.581,26.939,67.5,34.146,103.433.961,4.845,2.213,10.382,9.973,7.378,3.689-1.428,5.6,2.552,6.176,5.959,2.955,17.557,8.652,34.73,6.979,52.942-.666,7.171,1.105,13.9,3.555,20.635,21.316,58.553,40.143,117.624,42.7,180.946,1.1,27.188-2.125,52.952-13.74,77.493-3.2,6.762-7.078,13.215-8.922,20.611-10.072,40.417-27.006,79.183-27.725,121.867a15.33,15.33,0,0,1-9.613,14.421c-10,4.147-13.256,11.427-11.361,21.957,2.314,12.863-2.521,22.471-13.326,29.208-4.52,2.815-9.047,5.664-13.27,8.9-5.02,3.835-8.988,8.952-7.316,15.637,2,7.959-.746,14.249-4.48,20.631-4.506,7.721-10.076,14.582-15.908,21.272a74.932,74.932,0,0,0-7.527,10.054c-2.164,3.55-2.316,6.222,3.158,7.264,7.113,1.353,8.607,7.425,3.773,13.174-2.607,3.1-6.039,5.044-9.627,6.693-4.2,1.927-8.5,3.634-12.619,5.708-10.439,5.252-12.979,10.481-10.963,22.027,2.549,14.641-.271,21.779-12.662,29.6-6.834,4.312-14.184,7.763-21.287,11.647-5.525,3.024-10.785,6.508-14.057,12.152-1.426,2.454-4.346,5.95-1.607,8.119,2.84,2.248,5.223-1.585,7.174-3.7,2.514-2.727,4.561-5.922,7.131-8.58,1.74-1.786,4.225-3.946,6.666-2.2,2.156,1.544.8,4.318.045,6.532a41.287,41.287,0,0,1-19.66,23.631c-6.2,3.409-11.545,7.586-15.383,13.767a17.972,17.972,0,0,1-5.3,5.472,34.761,34.761,0,0,0-13.645,17.261c-4.4,11.393-13.289,16.264-24.5,17.879-3.41.492-6.834.936-10.217,1.616-3.281.659-6.346,2.211-7.582,5.5a73.765,73.765,0,0,1-7.215,14.4,6.771,6.771,0,0,0-.338,6.761c2.615,5.6.449,9.979-3.164,14.088-8.1,9.188-17.705,16.439-28.113,22.6-7.189,4.256-12.82,9.833-16.094,17.784-6.059,14.693-16.436,25.277-29.883,33.071q-23.742,13.76-48.49,25.471c-24.234,11.48-48.146,23.537-70.191,39.173a359.391,359.391,0,0,1-39.09,23.885c-33.906,18.053-67.912,35.809-106.271,42.28-32.32,5.452-64.971,6.1-97.561,7.625-23.664,1.108-47.193,3.758-70.686,6.6-37.189,4.505-74.32,9.429-111.715,12.087C1564.611,1727.463,1552.846,1726.822,1541.238,1728.739Z' transform='translate(-717.439 -35.212)' fill='%23001c31'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: calc(-200vh + 45px);
            top: calc(-200vh + 35px);
            border-radius: 50%;
            z-index: 100;
            transform: scale(0);
            transition: transform 0.5s ease-in-out 0s;
        }

        &.menu-open {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            max-width: 100%;

            &::before {
                transform: scale(1);
                transition-duration: 0.8s;
            }

            .navbar-toggler {
                position: absolute;
                top: 30px;
                right: 15px;

                @include media-breakpoint-down(lg) {
                    top: 30px;
                    right: 15px;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            .nav-item {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            .nav-link {
                font-size: 18px;
                line-height: 22px;
                color: white;
            }
        }
        .nav-link {
            margin-left: 1.25rem;
            margin-right: 1.25rem;

            @include media-breakpoint-down(xxl) {
                margin-left: 0.75rem;
                margin-right: 0.75rem;
            }

            @include media-breakpoint-down(xl) {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }

            @include media-breakpoint-down(lg) {
                margin-left: 0.75rem;
                margin-right: 0.75rem;
            }
        }
    }
}

.navbar-toggler {
    position: relative;
    z-index: 100;
    height: 25px;
    width: 25px;

    &:focus {
        box-shadow: none;
        outline: 0;
    }

    svg {
        transition: opacity 0.3s;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &.burger {
            opacity: 1;
        }
        &.cross {
            opacity: 0;
        }
    }

    &[aria-expanded='true'] {
        svg {
            &.burger {
                opacity: 0;
            }
            &.cross {
                opacity: 1;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    #navbar-collapse {
        z-index: 101;
        position: fixed;
        width: 100vw;
        height: calc(100vh - 90px) !important;
        left: 0;
        top: 50px;
        display: block;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
        overflow: auto;
        padding: 20px 0;

        &.show,
        &.collapsing {
            pointer-events: all;
            opacity: 1;
        }

        #navbar-nav {
            text-align: center;
        }
    }
}
