.image-with-text {
    overflow-x: hidden;
    .heading {
        position: relative;

        &.dupe-enabled {
            margin-bottom: 50px;
            margin-top: 80px;
            @include media-breakpoint-up(md) {
                margin-bottom: 80px;
                margin-top: 0;
            }
        }

        &-dupe {
            opacity: 0.1;
            position: absolute;
            bottom: 0;
            left: -20px;
            font-size: 155px;
            line-height: 0.7;
            z-index: -1;
            white-space: nowrap;
            @include media-breakpoint-up(md) {
                left: -30px;
                font-size: 185px;
            }

            &.right {
                @include media-breakpoint-up(md) {
                    left: -80px;
                }
            }
        }

        &-icon {
            height: 40px;
            margin-top: -30px;

            &.right {
                margin-top: 0;
                margin-bottom: -15px;
            }
        }
    }

    .copy-col {
        @include media-breakpoint-up(md) {
            padding-left: 90px;
        }

        &.copy-first {
            @include media-breakpoint-up(md) {
                padding-left: 12px;
                padding-right: 90px;
            }
        }
    }

    .img-col {
        display: flex;
        justify-content: flex-end;


        @include media-breakpoint-up(md) {
            max-width: var(--img-width);
        }

        .image-wrapper {
            position: relative;

            &.has-shadow {
                box-shadow: -80px -30px 0 var(--shadow-color);
            }
        }

        &.copy-first {
            .image-wrapper {
                &.has-shadow {
                    box-shadow: 80px -30px 0 var(--shadow-color);
                }
            }
        }
    }
}
