.image-with-text-overlay {
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .placeholder-svg {
        width: 100%;
    }
}

// Inner
.image-with-text-overlay-inner-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .image-with-text-overlay-inner {
        position: relative;
    }
}

// Style (light or dark)
.image-with-text-overlay {
    &.overlay-light {
        &.overlay-opacity-25:after {
            background: rgba(white, 0.25);
        }
        &.overlay-opacity-50:after {
            background: rgba(white, 0.5);
        }
        &.overlay-opacity-75:after {
            background: rgba(white, 0.75);
        }
    }
    &.overlay-dark {
        color: white;
        &.overlay-opacity-25:after {
            background: rgba(black, 0.25);
        }
        &.overlay-opacity-50:after {
            background: rgba(black, 0.5);
        }
        &.overlay-opacity-75:after {
            background: rgba(black, 0.75);
        }
        .text-muted {
            color: rgba(white, 0.75) !important;
        }
    }
}

// Section height
.image-with-text-overlay {
    &.section-height-sm {
        &,
        .image-with-text-overlay-inner-wrapper,
        .placeholder-svg {
            height: 360px;
        }
        .image-with-text-overlay-img {
            min-height: 360px;
        }
    }
    &.section-height-md {
        &,
        .image-with-text-overlay-inner-wrapper,
        .placeholder-svg {
            height: 480px;
        }
        .image-with-text-overlay-img {
            min-height: 480px;
        }
    }
    &.section-height-lg {
        &,
        .image-with-text-overlay-inner-wrapper,
        .placeholder-svg {
            height: 600px;
        }
        .image-with-text-overlay-img {
            min-height: 600px;
        }
    }
}

// Image
.image-with-text-overlay-img {
    left: 50%;
    &.image-with-text-overlay-img-top {
        transform: translateX(-50%) translateY(0);
    }
    &.image-with-text-overlay-img-center {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &.image-with-text-overlay-img-bottom {
        bottom: 0;
        transform: translateX(-50%) translateY(0);
    }
}
