.promo-banner {
    &__section {
        margin-bottom: 60px;

        @include media-breakpoint-down(md) {
            overflow-x: hidden;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 70px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 310px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 355px;
        }

        .container {
            position: relative;
        }

        .floating-image {
            position: absolute;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

            @include media-breakpoint-up(lg) {
                bottom: -2%;
                right: 357px;
                width: 240px;
            }

            @include media-breakpoint-up(xl) {
                bottom: -2%;
                right: 438px;
                width: 240px;
            }

            @include media-breakpoint-up(xxl) {
                bottom: -5%;
                right: 442px;
                width: 282px;
            }
        }
        .parachute-offset {
            position: absolute;

            @include media-breakpoint-up(lg) {
                bottom: -40%;
                right: 64px;
                transform: scale(0.85);
            }

            @include media-breakpoint-up(xl) {
                bottom: -38%;
                right: 143px;
            }

            @include media-breakpoint-up(xxl) {
                bottom: -42%;
                right: 205px;
                transform: scale(1);
            }
        }

        .floating-image,
        .parachute-offset {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            .floating-image,
            .parachute-offset {
                display: block;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 24px;

        @include media-breakpoint-up(md) {
            padding: 60px 50px;
        }

        @include media-breakpoint-up(xl) {
            padding: 80px 70px;
        }
    }
    &__copy {
        flex: 0 0 100%;
        max-width: 100%;

        @include media-breakpoint-up(md) {
            flex: 0 0 53%;
            max-width: 53%;
        }

        .spacer-block {
            width: 149px;
            height: 203px;
            float: right;

            @include media-breakpoint-up(lg) {
                width: 150px;
            }

            @include media-breakpoint-up(xl) {
                width: 132px;
            }
        }

        .image-mobile {
            display: flex;
            margin-left: -45px;
            margin-right: -45px;
            margin-top: 70px;
            margin-bottom: 40px;

            @include media-breakpoint-up(md) {
                display: none;
            }

            .image-left {
                width: 64%;
                margin-right: -20px;
                z-index: 2;
            }

            .image-right {
                width: 56.5%;
                margin-left: -20px;
                transform: translateY(-50%);
            }

            .image-left,
            .image-right {
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                object-fit: cover;
            }
        }

        .btn {
            @include media-breakpoint-up(md) {
                margin-top: 34px;
            }
        }
    }
    &__image {
        display: none;
        flex: 0 0 35%;
        max-width: 35%;

        @include media-breakpoint-up(md) {
            display: block;
            flex: 0 0 44%;
            max-width: 44%;
        }

        @include media-breakpoint-up(xl) {
            flex: 0 0 40%;
            max-width: 40%;
        }

        @include media-breakpoint-up(xxl) {
            flex: 0 0 35%;
            max-width: 35%;
        }

        img {
            width: 100%;
            object-fit: cover;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
    }
    &__container {
        margin: 0 -24px;

        @include media-breakpoint-up(md) {
            margin: 0 -50px;
        }

        @include media-breakpoint-up(xl) {
            margin: 0 -70px;
        }
    }
}
