.social-icons-listing {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.header {
        display: none;
        @include media-breakpoint-up(xl) {
            display: flex;
        }
    }

    li {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        i {
            font-size: 30px;
            color: $primary;
        }

        svg {
            position: relative;
            top: -3px;
        }
    }
}
