ul.social-sharing {
    li {
        a {
            transition: all 0.2s ease-out;
        }
        a[href*='facebook'] {
            &:hover,
            &:focus,
            &:active {
                background: #3b5998 !important;
                border-color: #3b5998;
                color: white !important;
            }
        }
        a[href*='twitter'] {
            &:hover,
            &:focus,
            &:active {
                background: #1da1f2 !important;
                border-color: #1da1f2;
                color: white !important;
            }
        }
        a[href*='pinterest'] {
            &:hover,
            &:focus,
            &:active {
                background: #bd081c !important;
                border-color: #bd081c;
                color: white !important;
            }
        }
        a[href*='whatsapp'] {
            &:hover,
            &:focus,
            &:active {
                background: #25d366 !important;
                border-color: #25d366;
                color: white !important;
            }
        }
        a[href*='mailto:?subject'] {
            &:hover,
            &:focus,
            &:active {
                background: #6c757d !important;
                border-color: #6c757d;
                color: white !important;
            }
        }
    }
}
