.storelocator {
    &-map {
        height: calc(100vh - 90px);
        margin: 0;
        position: relative;
        width: 100%;
        #map {
            width: 100%;
            height: 100%;
            .cluster span {
                color: #fff !important;
            }
        }
    }

    &-sidebar {
        position: relative;
        height: 100%;
    }

    &-deco {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
