// Default Bootstrap Testimonials Carousel
.testimonials {
    .carousel {
        &.has-controls {
            .carousel-inner {
                width: 70%;
                margin: 0 auto;
            }
        }
        &.has-indicators {
            padding-bottom: 2.5rem;
        }
    }
    .blockquote-footer {
        margin-top: 0;
        margin-bottom: 0;
        font-size: inherit;
        &::before {
            display: none;
        }
    }
}

// Ruffie testimonials
.testimonials {
    &__item {
        margin-top: 40px;

        &:first-child {
            margin-top: 25px;
        }

        @include media-breakpoint-up(sm) {
            margin-top: 40px;

            &:first-child {
                margin-top: 40px;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }
    &__copy,
    &__author {
        flex: 0 0 100%;
        max-width: 100%;
    }
    &__copy {
        padding-bottom: 74px;
    }
    &__copy {
        p {
            margin-bottom: 0;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__author {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .location {
            font-size: 14px;
            line-height: 20px;
        }
        .name {
            margin-bottom: 0;
        }
    }
    &__image {
        flex: 0 0 54px;
        max-width: 54px;
        margin-right: 10px;
        img {
            width: 54px;
            height: 54px;
            object-fit: contain;
            border-radius: 50%;
        }
    }
    &__name {
        flex: 1 1 auto;
        max-width: calc(100% - 64px);
    }
}
