$spacer: 1rem !default;
$enable-negative-margins: true !default;
$headings-font-family: var(--font-headings) !default;
$lead-font-weight: 400 !default;
$accordion-icon-active-color: var(--color-primary) !default;
$hr-color: lighten(#dee2e6, 5%) !default;
$hr-opacity: 1 !default;

$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer * 0.75,
    4: $spacer * 1,
    5: $spacer * 1.25,
    6: $spacer * 1.5,
    7: $spacer * 2,
    8: $spacer * 2.5,
    9: $spacer * 3,
    10: $spacer * 4,
    11: $spacer * 5,
    12: $spacer * 6,
);

$opacities: [ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 ] !default;

//types
$font-family-sans-serif: 'Goldplay' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !default;

$font-size-root: 1rem !default;
$font-size-base: $font-size-root * 1.25 !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-root * 3.875 !default;
$h2-font-size: $font-size-root * 3.25 !default;
$h3-font-size: $font-size-root * 2.375 !default;
$h4-font-size: $font-size-root * 1.5 !default;
$h5-font-size: $font-size-root * 1.125 !default;
$h6-font-size: $font-size-root !default;
$headings-font-weight: 700 !default;

//buttons
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$btn-padding-y: 15px !default;
$btn-padding-x: 20px !default;
$btn-font-size: 20px !default;
$btn-font-weight: 700;

//accordions
$accordion-button-active-bg: transparent !default;
$accordion-button-icon: url('data:image/svg+xml,<svg enable-background="new 0 0 22.9 23.5" viewBox="0 0 22.9 23.5" xmlns="http://www.w3.org/2000/svg"><path d="m0 9.8v3.9h9.4v9.8h4.1v-9.8h9.4v-4h-9.4v-9.7h-4.1v9.8z" fill="currentColor"/></svg>') !default;
$accordion-button-active-icon: url('data:image/svg+xml,<svg enable-background="new 0 0 22.9 23.5" viewBox="0 0 22.9 23.5" xmlns="http://www.w3.org/2000/svg"><path d="m0 9.8v3.9h22.9v-3.9z" fill="currentColor"/></svg>') !default;
$accordion-icon-transform: rotate(0deg) !default;
$accordion-button-padding-y: 30px;
$accordion-button-padding-x: 0px;
$accordion-body-padding-x: 0px;

$modal-fade-transform: translate3d(0, 50px, 0);
$modal-show-transform: translate3d(0, 0, 0);
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;
