<!doctype html>
<html 
    class="no-js no-touch" 
    lang="{{ shop.locale }}">
    <head>

        {% render 'seo-title' %}

        <meta charset="utf-8">
        <meta 
            http-equiv="X-UA-Compatible" 
            content="IE=edge, chrome=1">
        {% if page_description %}
            <meta 
                name="description" 
                content="{{ page_description | escape }}">
        {% endif %}
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1">
        <meta 
            name="theme-color" 
            content="{{ settings.color_primary }}">

        <link 
            rel="canonical" 
            href="{{ canonical_url }}">
        
        {% if settings.favicon != blank %}
            <link 
                rel="shortcut icon" 
                href="{{ settings.favicon | img_url: '32x32' }}" 
                type="image/png">
        {% endif %}
        
        {{ content_for_header }} 

        <!-- Styles -->
        <link 
            href="{{ 'variables.css' | asset_url }}" 
            rel="stylesheet">
        <link 
            href="{{ 'theme.min.css' | asset_url }}" 
            rel="stylesheet">
        <link 
            href="{{ 'custom.css' | asset_url }}" 
            rel="stylesheet">

         <!-- Scripts -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
            crossorigin="anonymous"
            defer>
        </script>
        <script 
            src="{{ 'theme.min.js' | asset_url }}" 
            defer>
        </script>
        <script 
            src="{{ 'custom.js' | asset_url }}" 
            defer>
        </script>
        <script>
            Shopify.money_format = "{{ shop.money_format }}";

            window.theme = {
                i18n: {
                    general: {
                        loading: "{{ 'general.loading' | t }}",
                    },
                    product: {
                        add_to_cart: "{{ 'product.add_to_cart' | t }}",
                        added_to_cart: "{{ 'product.added_to_cart' | t }}",
                        old_price: "{{ 'product.old_price' | t }}",
                        sold_out: "{{ 'product.sold_out' | t }}",
                        unavailable: "{{ 'product.unavailable' | t }}",
                        view_cart: "{{ 'product.view_cart' | t }}",
                    }
                }
            }
        </script>
    </head>
    <body class="template-{{ request.page_type }}">

        <a
            id="skip-to-content-link"
            class="visually-hidden-focusable" 
            href="#main">
            {{ 'general.accessibility.skip_to_content' | t }}
        </a>
        
        {% section 'announcement-bar' %}
        {% section 'navbar' %}

        <main 
            id="main"
            class="{% if request.page_type != 'index' and request.page_type != 'blog' and request.page_type != 'article' %}py-7{% endif %}"
            role="main">
            {{ content_for_layout }}
        </main>

        {% section 'footer' %}

        {% render 'toast' %}
        {% if settings.facebook_page_id != blank %}
            <!-- Messenger Chat Plugin Code -->
            <div id="fb-root"></div>
        
            <!-- Your Chat Plugin code -->
            <div id="fb-customer-chat" class="fb-customerchat">
            </div>
        
            <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "{{ settings.facebook_page_id }}");
            chatbox.setAttribute("attribution", "biz_inbox");
            window.fbAsyncInit = function() {
                FB.init({
                xfbml            : true,
                version          : 'v11.0'
                });
            };
        
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endif %}
    </body>
</html>
