{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

<article class="article">

    {% unless article.image == blank %}
        {% assign img_800_size = section.settings.img_height | prepend: '800x' %}
        {% assign img_1600_size = section.settings.img_height | prepend: '1600x' %}
        <!-- Article image -->
        <div id="shopify-section-carousel" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;carousel&quot;,&quot;type&quot;:&quot;carousel&quot;,&quot;disabled&quot;:false}">
            <div id="carousel-wrappercarousel" class=" mt-0">
                <!-- Carousel -->
                <div id="carousel-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-pause="hover" data-bs-interval="6000">
                    <!-- Indicators -->
                    <div class="carousel-inner">
                            <div class="carousel-item active">
                                    <img class="w-100 object-fit-cover h-auto"  src="{{ article.image | img_url: img_1600_size, crop: 'center' }}"
                                    srcset="
                                        {{ article.image | img_url: img_800_size, crop: 'center' }} 800w, 
                                        {{ article.image | img_url: img_1600_size, crop: 'center' }} 1600w
                                    "
                                    alt="{{ article.image.alt | escape }}" width="1920" height="686" loading="lazy" style="min-height: 686px; max-height: 686px;">
                                    <div class="container carousel-caption-wrap">
                                        <div class="carousel-caption">
                                            {% for tag in article.tags %}
                                                {% if forloop.first == true %}
                                                    {% assign bgColor = tag | replace: ' ', '_' | downcase %}
                                                    <a
                                                        href="{{ blog.url }}/tagged/{{ tag | handle }}"
                                                        class="article-listing__tag tag"
                                                        style="{{
                                                            settings[bgColor] | prepend: 'background-color: ' | append: ';'
                                                        }}">
                                                        {{ tag }}
                                                    </a>
                                                {% endif %} 
                                            {% endfor %} 
                                            <h1 class="h1" data-live-text-setting="section.carousel.block.05f49391-bd6f-40da-b25b-f53c7627f09b.title">
                                                {{ article.title }}
                                            </h1>
                                        </div>
                                    <div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    {% endunless %}

    <div 
        class="article-inner mx-auto">

        <!-- Header -->
        <div class="heading-wrapper mb-0 overflow-hidden text-center">

            <!-- Heading -->
            <!-- <h1 class="heading {{ section.settings.heading_size }}">
                {{ article.title }}
            </h1> -->

            <!-- Article meta -->
            <!-- {% render 'article-meta' with article as article %} -->
        </div>

        <!-- Article content -->
        <div class="article-content rte">
            {% include 'shortcode' load: article.content %}
        </div>

        {% render 'article-posted-in' with article as article %}
        {% render 'social-sharing' with share_title: article.title, share_permalink: article.url, share_image: article.image %}

        <!-- Comments -->
        {% if blog.comments_enabled? %}
            <hr 
                class="sep my-6"
                style="{{ section.settings.sep_color | prepend: 'background-color: ' | append: ';' }};">

            <div id="comments">

                <!-- No comments -->
                {% if article.comments_count == 0 %}
                    <h3 class="mb-3">
                        {{ 'blogs.comments.no_comments' | t }}
                    </h3>
                    <p class="alert alert-info">
                        {{ 'blogs.comments.first_to_comment' | t }}
                    </p>
                
                <!-- Has comments -->
                {% else %}
                    <h3 class="mb-3">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </h3>
                    {% paginate article.comments by section.settings.comments_paginate %}
                        <ul class="list-unstyled">
                            {% for comment in article.comments %}
                                <li 
                                    id="comment-{{ comment.id }}" 
                                    class="comment card mb-3">
                                    <p class="card-header comment-meta">
                                        <span class="comment-meta-author">
                                            {{ comment.author }}
                                        </span>
                                        <span class="comment-meta-data ms-2">
                                            {{ comment.created_at | time_tag: format: 'date' }}
                                        </span>
                                    </p>
                                    <div class="card-body rte pb-0">
                                        {{ comment.content }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {% render 'pagination' with paginate: paginate %}

                    {% endpaginate %}
                {% endif %}

                <!-- New Comment -->
                {% form 'new_comment', article %}
                    <h3 class="mt-6 mb-3">
                        {{ 'blogs.comments.title' | t }}
                    </h3>

                    <!-- Posted successfully alert -->
                    {% if form.posted_successfully? %}
                        {% assign post_message = 'blogs.comments.success' | t %}
                        {% if blog.moderated? and comment.status == 'pending' %}
                            {% assign post_message = 'blogs.comments.success_moderated' | t%}
                        {% elsif comment.status == 'unapproved' or comment.status == 'spam' %}
                            {% assign post_message = 'blogs.comments.unapproved' | t %}
                        {% endif %}
                        <p
                            id="comment-posted"
                            class="alert alert-success">
                            {{ post_message }}
                        </p>
                    {% endif %}

                    <!-- Error alert -->
                    {{ form.errors | default_errors }}

                    <div class="row g-4">
                        <div class="col-sm-6">
                            <input 
                                id="CommentAuthor"
                                class="form-control {% if form.errors contains 'author' %}is-invalid{% endif %}" 
                                type="text" 
                                name="comment[author]" 
                                value="{{ form.author }}" 
                                placeholder="{{ 'blogs.comments.name' | t }}" 
                                aria-label="{{ 'blogs.comments.name' | t }}" 
                                autocapitalize="words" 
                                required>
                        </div>
                        <div class="col-sm-6">
                            <input 
                                id="CommentEmail" 
                                class="form-control {% if form.errors contains 'email' %}is-invalide{% endif %}" 
                                type="email" 
                                name="comment[email]"
                                value="{{ form.email }}"
                                placeholder="{{ 'blogs.comments.email' | t }}" 
                                aria-label="{{ 'blogs.comments.email' | t }}" 
                                autocorrect="off" 
                                autocapitalize="off">
                        </div>
                        <div class="col-sm-12">
                            <textarea
                                id="CommentBody"
                                class="form-control {% if form.errors contains 'body' %}is-invalid{% endif %}" 
                                name="comment[body]" 
                                placeholder="{{ 'blogs.comments.message' | t }}" 
                                aria-label="{{ 'blogs.comments.message' | t }}" 
                                rows="4" 
                                required>{{ form.body }}</textarea> {% comment %}Do not use new line here{% endcomment %}
                        </div>
                        {% if blog.moderated? %}
                            <div class="col-sm-12">
                                <p
                                    id="comments-moderated"
                                    class="alert alert-warning mb-0">
                                    {{ 'blogs.comments.moderated' | t }}
                                </p>
                                </div>
                        {% endif %}
                        <div class="col-sm-12">
                            <input 
                                type="submit" 
                                class="btn btn-primary" 
                                value="{{ 'blogs.comments.post' | t }}">
                        </div>
                    </div>

                {% endform %}

            </div>
        {% endif %}

        <!-- 'Back to' button -->
        {% if section.settings.show_back_to_btn %}
            <hr 
                class="sep my-7"
                style="{{ section.settings.sep_color | prepend: 'background-color: ' | append: ';' }};">

            <div class="article-back-to text-center my-5">
                <a
                    class="article-back-to-btn btn {{ section.settings.back_to_btn_color }} {{ section.settings.back_to_btn_size }}"
                    href="{{ blog.url }}">
                    « {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
                </a>
            </div>
        {% endif %}

    </div>
</article>

<script>
    // Scroll into comments when paginate
    if (window.location.href.indexOf('?page=') > -1) {
        setTimeout(function() { 
            document.querySelector('#comments').scrollIntoView();
        }, 750)
    }
</script>

{% schema %}
{
    "name": "Article page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "show_posted_in",
            "label": "Show posted in (tags)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": true
        },
        {
            "type": "range",
            "id": "comments_paginate",
            "label": "Comments per page",
            "min": 1,
            "max": 50,
            "default": 20
        },
        {
            "type": "color",
            "id": "sep_color",
            "label": "Separator color",
            "default": "#dee2e6"
        },
        {
            "type": "header",
            "content": "Post settings"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                {  "value": "display-1", "label": "Display 1" },
                {  "value": "display-2", "label": "Display 2" },
                {  "value": "display-3", "label": "Display 3" },
                {  "value": "display-4", "label": "Display 4" },
                {  "value": "display-5", "label": "Display 5" },
                {  "value": "display-6", "label": "Display 6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "header",
            "content": "'Back to' button"
        },
        {
            "type": "checkbox",
            "id": "show_back_to_btn",
            "label": "Show 'Back to' button",
            "default": true
        },
        {
            "type": "select",
            "id": "back_to_btn_color",
            "label": "Back to button color",
            "default": "btn-outline-secondary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "back_to_btn_size",
            "label": "Back to button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        }
    ]
}
{% endschema %}