{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<div
    id="blog"
    class="blog">

    <div class="container">
        <div class="article-listing__filters">
            <div class="article-listing__filter {% unless current_tags %}all{% endunless %}" style="{{
                settings['all_post_colour'] | prepend: 'background-color: ' | append: ';'
            }}" onclick="javascript:location.href = window.location.href = '{{ blog.url }}'">
                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="27.739" height="36.478" viewBox="0 0 27.739 36.478">
                    <g id="arrow" transform="translate(-1092 -790.261)">
                    <path id="Path_6027" data-name="Path 6027" d="M629.381,505.048c-.141,0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1,0,0,0-.071.02v.06l.248.22c0,.02,0,.02.035.04l.106.06a.649.649,0,0,0,.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244,0,0,0-.106.04l-.071.04v.08l-.106.02a1.621,1.621,0,0,1-.318.04l.071.06c.177,0,.248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1,0,0,1,.071.02l.106.04a2.591,2.591,0,0,0,.355.14l.106.06c.248,0,.318.1.461.1a6.2,6.2,0,0,0,1.129.12h.425a5.566,5.566,0,0,1,.565.04h.354c.6,0,1.026.1,1.877.1.106,0,.318-.02.565-.02h1.31c.814,0,.956-.04,1.381-.04h.106a.857.857,0,0,1,.318-.04h.991c.106,0,.5-.04.6-.04h.29c.106,0,.637-.02.744-.02h1.129c.035,0,.354.02.461.02h.818c.106,0,.885.02,1.129.04h.394a1.237,1.237,0,0,1,.384.04h.466c.461,0,.744.04,2.054.04,1.381,0,1.7-.06,2.484-.06h.49c.318,0,.637.02.744.02a3.084,3.084,0,0,0,1.168-.12l.283-.1a2.992,2.992,0,0,1,.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057,0,0,1-.035-.06l.035-.2c0-.02,0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589,1.589,0,0,1-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141,0-.248-.04-.355-.04l-.071-.02a.2.2,0,0,0-.106-.02l-.425-.04a9.655,9.655,0,0,0-1.063-.1h-.318c-.106,0-.92.06-1.026.06h-.071c-.213,0-1.878-.06-2.088-.06h-.215c-.035,0-.318-.02-.355-.02h-.035c-.885,0-1.275-.1-2.089-.1h-.243a.56.56,0,0,0-.212-.02h-.212c-.177,0-.565-.06-.6-.06h-.956c-.248,0-.677-.06-.779-.06h-.287c-.461,0-1.346.06-2.019.06H638.7q-.317.045-.637.06h-.141a.3.3,0,0,0-.141.02h-.212c-.035,0-.212.04-.318.04h-.071a7.162,7.162,0,0,0-.956.14l-3.541.02c-.035,0-.531-.02-.637-.02h-.461l-.354-.06H630.2c-.106,0-.177.02-.177.06l-.106.02a.1.1,0,0,0-.071.02l-.283.08a.1.1,0,0,0-.071.02l-.106.02-.071.08.071.1c0,.02,0,.02-.035.04l-.071.08.212.08a1.715,1.715,0,0,0-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177,0,.248.04.248.14h-.106c0,.06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39,0,.39.14l-.035.02c-.035.02-.035.02-.035.04v.06Zm2.3.78a.1.1,0,0,1,.071-.02l.035.02c-.035.02-.035.02-.035.04Zm-2.8-.74h-.106l.035.04Z" transform="translate(298.91 912.816) rotate(-45)" fill="#fff"/>
                    <path id="Path_6027-2" data-name="Path 6027" d="M629.381,505.048c-.141,0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1,0,0,0-.071.02v.06l.248.22c0,.02,0,.02.035.04l.106.06a.649.649,0,0,0,.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244,0,0,0-.106.04l-.071.04v.08l-.106.02a1.621,1.621,0,0,1-.318.04l.071.06c.177,0,.248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1,0,0,1,.071.02l.106.04a2.591,2.591,0,0,0,.355.14l.106.06c.248,0,.318.1.461.1a6.2,6.2,0,0,0,1.129.12h.425a5.566,5.566,0,0,1,.565.04h.354c.6,0,1.026.1,1.877.1.106,0,.318-.02.565-.02h1.31c.814,0,.956-.04,1.381-.04h.106a.857.857,0,0,1,.318-.04h.991c.106,0,.5-.04.6-.04h.29c.106,0,.637-.02.744-.02h1.129c.035,0,.354.02.461.02h.818c.106,0,.885.02,1.129.04h.394a1.237,1.237,0,0,1,.384.04h.466c.461,0,.744.04,2.054.04,1.381,0,1.7-.06,2.484-.06h.49c.318,0,.637.02.744.02a3.084,3.084,0,0,0,1.168-.12l.283-.1a2.992,2.992,0,0,1,.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057,0,0,1-.035-.06l.035-.2c0-.02,0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589,1.589,0,0,1-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141,0-.248-.04-.355-.04l-.071-.02a.2.2,0,0,0-.106-.02l-.425-.04a9.655,9.655,0,0,0-1.063-.1h-.318c-.106,0-.92.06-1.026.06h-.071c-.213,0-1.878-.06-2.088-.06h-.215c-.035,0-.318-.02-.355-.02h-.035c-.885,0-1.275-.1-2.089-.1h-.243a.56.56,0,0,0-.212-.02h-.212c-.177,0-.565-.06-.6-.06h-.956c-.248,0-.677-.06-.779-.06h-.287c-.461,0-1.346.06-2.019.06H638.7q-.317.045-.637.06h-.141a.3.3,0,0,0-.141.02h-.212c-.035,0-.212.04-.318.04h-.071a7.162,7.162,0,0,0-.956.14l-3.541.02c-.035,0-.531-.02-.637-.02h-.461l-.354-.06H630.2c-.106,0-.177.02-.177.06l-.106.02a.1.1,0,0,0-.071.02l-.283.08a.1.1,0,0,0-.071.02l-.106.02-.071.08.071.1c0,.02,0,.02-.035.04l-.071.08.212.08a1.715,1.715,0,0,0-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177,0,.248.04.248.14h-.106c0,.06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39,0,.39.14l-.035.02c-.035.02-.035.02-.035.04v.06Zm2.3.78a.1.1,0,0,1,.071-.02l.035.02c-.035.02-.035.02-.035.04Zm-2.8-.74h-.106l.035.04Z" transform="translate(463.221 303.432)" fill="#fff"/>
                    <path id="Path_6027-3" data-name="Path 6027" d="M629.381,505.048c-.141,0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1,0,0,0-.071.02v.06l.248.22c0,.02,0,.02.035.04l.106.06a.649.649,0,0,0,.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244,0,0,0-.106.04l-.071.04v.08l-.106.02a1.621,1.621,0,0,1-.318.04l.071.06c.177,0,.248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1,0,0,1,.071.02l.106.04a2.591,2.591,0,0,0,.355.14l.106.06c.248,0,.318.1.461.1a6.2,6.2,0,0,0,1.129.12h.425a5.566,5.566,0,0,1,.565.04h.354c.6,0,1.026.1,1.877.1.106,0,.318-.02.565-.02h1.31c.814,0,.956-.04,1.381-.04h.106a.857.857,0,0,1,.318-.04h.991c.106,0,.5-.04.6-.04h.29c.106,0,.637-.02.744-.02h1.129c.035,0,.354.02.461.02h.818c.106,0,.885.02,1.129.04h.394a1.237,1.237,0,0,1,.384.04h.466c.461,0,.744.04,2.054.04,1.381,0,1.7-.06,2.484-.06h.49c.318,0,.637.02.744.02a3.084,3.084,0,0,0,1.168-.12l.283-.1a2.992,2.992,0,0,1,.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057,0,0,1-.035-.06l.035-.2c0-.02,0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589,1.589,0,0,1-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141,0-.248-.04-.355-.04l-.071-.02a.2.2,0,0,0-.106-.02l-.425-.04a9.655,9.655,0,0,0-1.063-.1h-.318c-.106,0-.92.06-1.026.06h-.071c-.213,0-1.878-.06-2.088-.06h-.215c-.035,0-.318-.02-.355-.02h-.035c-.885,0-1.275-.1-2.089-.1h-.243a.56.56,0,0,0-.212-.02h-.212c-.177,0-.565-.06-.6-.06h-.956c-.248,0-.677-.06-.779-.06h-.287c-.461,0-1.346.06-2.019.06H638.7q-.317.045-.637.06h-.141a.3.3,0,0,0-.141.02h-.212c-.035,0-.212.04-.318.04h-.071a7.162,7.162,0,0,0-.956.14l-3.541.02c-.035,0-.531-.02-.637-.02h-.461l-.354-.06H630.2c-.106,0-.177.02-.177.06l-.106.02a.1.1,0,0,0-.071.02l-.283.08a.1.1,0,0,0-.071.02l-.106.02-.071.08.071.1c0,.02,0,.02-.035.04l-.071.08.212.08a1.715,1.715,0,0,0-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177,0,.248.04.248.14h-.106c0,.06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39,0,.39.14l-.035.02c-.035.02-.035.02-.035.04v.06Zm2.3.78a.1.1,0,0,1,.071-.02l.035.02c-.035.02-.035.02-.035.04Zm-2.8-.74h-.106l.035.04Z" transform="translate(1013.184 -10.09) rotate(45)" fill="#fff"/>
                    </g>
                </svg>
                {{ 'blogs.article.all_topics' | t }}
            </div>
            {% for tag in blog.all_tags %}
            {% assign bgColor = tag | replace: ' ', '_' | downcase %}
            <div class="article-listing__filter {% if current_tags contains tag %}selected{% endif %} {% unless current_tags %}all{% endunless %}" 
                onclick="javascript:location.href = window.location.href = '{{ blog.url }}/tagged/{{ tag | handleize }}'"
                style="{{
                    settings[bgColor] | prepend: 'background-color: ' | append: ';'
                }}">
                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="27.739" height="36.478" viewBox="0 0 27.739 36.478">
                    <g id="arrow" transform="translate(-1092 -790.261)">
                    <path id="Path_6027" data-name="Path 6027" d="M629.381,505.048c-.141,0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1,0,0,0-.071.02v.06l.248.22c0,.02,0,.02.035.04l.106.06a.649.649,0,0,0,.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244,0,0,0-.106.04l-.071.04v.08l-.106.02a1.621,1.621,0,0,1-.318.04l.071.06c.177,0,.248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1,0,0,1,.071.02l.106.04a2.591,2.591,0,0,0,.355.14l.106.06c.248,0,.318.1.461.1a6.2,6.2,0,0,0,1.129.12h.425a5.566,5.566,0,0,1,.565.04h.354c.6,0,1.026.1,1.877.1.106,0,.318-.02.565-.02h1.31c.814,0,.956-.04,1.381-.04h.106a.857.857,0,0,1,.318-.04h.991c.106,0,.5-.04.6-.04h.29c.106,0,.637-.02.744-.02h1.129c.035,0,.354.02.461.02h.818c.106,0,.885.02,1.129.04h.394a1.237,1.237,0,0,1,.384.04h.466c.461,0,.744.04,2.054.04,1.381,0,1.7-.06,2.484-.06h.49c.318,0,.637.02.744.02a3.084,3.084,0,0,0,1.168-.12l.283-.1a2.992,2.992,0,0,1,.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057,0,0,1-.035-.06l.035-.2c0-.02,0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589,1.589,0,0,1-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141,0-.248-.04-.355-.04l-.071-.02a.2.2,0,0,0-.106-.02l-.425-.04a9.655,9.655,0,0,0-1.063-.1h-.318c-.106,0-.92.06-1.026.06h-.071c-.213,0-1.878-.06-2.088-.06h-.215c-.035,0-.318-.02-.355-.02h-.035c-.885,0-1.275-.1-2.089-.1h-.243a.56.56,0,0,0-.212-.02h-.212c-.177,0-.565-.06-.6-.06h-.956c-.248,0-.677-.06-.779-.06h-.287c-.461,0-1.346.06-2.019.06H638.7q-.317.045-.637.06h-.141a.3.3,0,0,0-.141.02h-.212c-.035,0-.212.04-.318.04h-.071a7.162,7.162,0,0,0-.956.14l-3.541.02c-.035,0-.531-.02-.637-.02h-.461l-.354-.06H630.2c-.106,0-.177.02-.177.06l-.106.02a.1.1,0,0,0-.071.02l-.283.08a.1.1,0,0,0-.071.02l-.106.02-.071.08.071.1c0,.02,0,.02-.035.04l-.071.08.212.08a1.715,1.715,0,0,0-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177,0,.248.04.248.14h-.106c0,.06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39,0,.39.14l-.035.02c-.035.02-.035.02-.035.04v.06Zm2.3.78a.1.1,0,0,1,.071-.02l.035.02c-.035.02-.035.02-.035.04Zm-2.8-.74h-.106l.035.04Z" transform="translate(298.91 912.816) rotate(-45)" fill="#fff"/>
                    <path id="Path_6027-2" data-name="Path 6027" d="M629.381,505.048c-.141,0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1,0,0,0-.071.02v.06l.248.22c0,.02,0,.02.035.04l.106.06a.649.649,0,0,0,.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244,0,0,0-.106.04l-.071.04v.08l-.106.02a1.621,1.621,0,0,1-.318.04l.071.06c.177,0,.248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1,0,0,1,.071.02l.106.04a2.591,2.591,0,0,0,.355.14l.106.06c.248,0,.318.1.461.1a6.2,6.2,0,0,0,1.129.12h.425a5.566,5.566,0,0,1,.565.04h.354c.6,0,1.026.1,1.877.1.106,0,.318-.02.565-.02h1.31c.814,0,.956-.04,1.381-.04h.106a.857.857,0,0,1,.318-.04h.991c.106,0,.5-.04.6-.04h.29c.106,0,.637-.02.744-.02h1.129c.035,0,.354.02.461.02h.818c.106,0,.885.02,1.129.04h.394a1.237,1.237,0,0,1,.384.04h.466c.461,0,.744.04,2.054.04,1.381,0,1.7-.06,2.484-.06h.49c.318,0,.637.02.744.02a3.084,3.084,0,0,0,1.168-.12l.283-.1a2.992,2.992,0,0,1,.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057,0,0,1-.035-.06l.035-.2c0-.02,0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589,1.589,0,0,1-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141,0-.248-.04-.355-.04l-.071-.02a.2.2,0,0,0-.106-.02l-.425-.04a9.655,9.655,0,0,0-1.063-.1h-.318c-.106,0-.92.06-1.026.06h-.071c-.213,0-1.878-.06-2.088-.06h-.215c-.035,0-.318-.02-.355-.02h-.035c-.885,0-1.275-.1-2.089-.1h-.243a.56.56,0,0,0-.212-.02h-.212c-.177,0-.565-.06-.6-.06h-.956c-.248,0-.677-.06-.779-.06h-.287c-.461,0-1.346.06-2.019.06H638.7q-.317.045-.637.06h-.141a.3.3,0,0,0-.141.02h-.212c-.035,0-.212.04-.318.04h-.071a7.162,7.162,0,0,0-.956.14l-3.541.02c-.035,0-.531-.02-.637-.02h-.461l-.354-.06H630.2c-.106,0-.177.02-.177.06l-.106.02a.1.1,0,0,0-.071.02l-.283.08a.1.1,0,0,0-.071.02l-.106.02-.071.08.071.1c0,.02,0,.02-.035.04l-.071.08.212.08a1.715,1.715,0,0,0-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177,0,.248.04.248.14h-.106c0,.06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39,0,.39.14l-.035.02c-.035.02-.035.02-.035.04v.06Zm2.3.78a.1.1,0,0,1,.071-.02l.035.02c-.035.02-.035.02-.035.04Zm-2.8-.74h-.106l.035.04Z" transform="translate(463.221 303.432)" fill="#fff"/>
                    <path id="Path_6027-3" data-name="Path 6027" d="M629.381,505.048c-.141,0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1,0,0,0-.071.02v.06l.248.22c0,.02,0,.02.035.04l.106.06a.649.649,0,0,0,.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244,0,0,0-.106.04l-.071.04v.08l-.106.02a1.621,1.621,0,0,1-.318.04l.071.06c.177,0,.248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1,0,0,1,.071.02l.106.04a2.591,2.591,0,0,0,.355.14l.106.06c.248,0,.318.1.461.1a6.2,6.2,0,0,0,1.129.12h.425a5.566,5.566,0,0,1,.565.04h.354c.6,0,1.026.1,1.877.1.106,0,.318-.02.565-.02h1.31c.814,0,.956-.04,1.381-.04h.106a.857.857,0,0,1,.318-.04h.991c.106,0,.5-.04.6-.04h.29c.106,0,.637-.02.744-.02h1.129c.035,0,.354.02.461.02h.818c.106,0,.885.02,1.129.04h.394a1.237,1.237,0,0,1,.384.04h.466c.461,0,.744.04,2.054.04,1.381,0,1.7-.06,2.484-.06h.49c.318,0,.637.02.744.02a3.084,3.084,0,0,0,1.168-.12l.283-.1a2.992,2.992,0,0,1,.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057,0,0,1-.035-.06l.035-.2c0-.02,0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589,1.589,0,0,1-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141,0-.248-.04-.355-.04l-.071-.02a.2.2,0,0,0-.106-.02l-.425-.04a9.655,9.655,0,0,0-1.063-.1h-.318c-.106,0-.92.06-1.026.06h-.071c-.213,0-1.878-.06-2.088-.06h-.215c-.035,0-.318-.02-.355-.02h-.035c-.885,0-1.275-.1-2.089-.1h-.243a.56.56,0,0,0-.212-.02h-.212c-.177,0-.565-.06-.6-.06h-.956c-.248,0-.677-.06-.779-.06h-.287c-.461,0-1.346.06-2.019.06H638.7q-.317.045-.637.06h-.141a.3.3,0,0,0-.141.02h-.212c-.035,0-.212.04-.318.04h-.071a7.162,7.162,0,0,0-.956.14l-3.541.02c-.035,0-.531-.02-.637-.02h-.461l-.354-.06H630.2c-.106,0-.177.02-.177.06l-.106.02a.1.1,0,0,0-.071.02l-.283.08a.1.1,0,0,0-.071.02l-.106.02-.071.08.071.1c0,.02,0,.02-.035.04l-.071.08.212.08a1.715,1.715,0,0,0-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177,0,.248.04.248.14h-.106c0,.06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39,0,.39.14l-.035.02c-.035.02-.035.02-.035.04v.06Zm2.3.78a.1.1,0,0,1,.071-.02l.035.02c-.035.02-.035.02-.035.04Zm-2.8-.74h-.106l.035.04Z" transform="translate(1013.184 -10.09) rotate(45)" fill="#fff"/>
                    </g>
                </svg>
                
                {{ tag }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="{% if section.settings.container %}container{% else %}{% endif %}">

        <!-- No posts alert -->
        {% if blog.articles.size == 0 %}
            <p class="blog-no-posts-alert alert alert-warning">
                {{ 'blogs.no_posts_html' | t: blog_url: blog.url }}
            </p>
        {% else %}
            {% paginate blog.articles by section.settings.paginate %}

                <!-- List layout -->
                {% if section.settings.layout == 'list' %}
                    <ul class="blog-list list-unstyled">
                        {% for article in blog.articles %}
                            <li 
                                class="blog-list-item article row align-items-center py-5">
                                <div class="col-lg">
                                    {% render 'article-image' with article: article, class: 'mb-3 mb-lg-0'  %}
                                </div>
                                <div class="col-lg">
                                    {% render 'article-title' with article as article, heading: 'h2' %}
                                    {% render 'article-meta' with article as article %}
                                    {% render 'article-excerpt' with article as article %}
                                    {% render 'article-posted-in' with article as article %}
                                    {% render 'article-readmore' with article as article %}
                                    {% render 'social-sharing' with share_title: article.title, share_permalink: article.url, share_image: article.image %}                         
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                
                <!-- Grid layout -->
                {% else %}
                    <ul class="blog-grid list-unstyled mt-0 row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">
                        {% for article in blog.articles %}
                            <li 
                                class="blog-grid-item article col pb-5">
                                {% render 'article-image' with article as article, class: 'mb-3' %}
                                {% render 'article-title' with article as article, heading: 'h2' %}
                                {% render 'article-meta' with article as article %}
                                {% render 'article-excerpt' with article as article %}
                                {% render 'article-posted-in' with article as article %}
                                {% render 'article-readmore' with article as article %}
                                {% render 'social-sharing' with share_title: article.title, share_permalink: article.url, share_image: article.image %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <!-- Pagination -->
                {% render 'pagination' with paginate: paginate %}

            {% endpaginate %}
        {% endif %}

    </div>
</div>

{% schema %}
{
    "name": "Blog page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "list",
            "options": [
                {  "value": "list", "label": "List" },
                {  "value": "grid", "label": "Grid" }
            ]
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Welcome to our blog. We hope to inspire you!</p>"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-4",
            "options": [
                {  "value": "display-1", "label": "Display 1" },
                {  "value": "display-2", "label": "Display 2" },
                {  "value": "display-3", "label": "Display 3" },
                {  "value": "display-4", "label": "Display 4" },
                {  "value": "display-5", "label": "Display 5" },
                {  "value": "display-6", "label": "Display 6" }
            ]
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "range",
            "id": "paginate",
            "label": "Posts per page",
            "min": 1,
            "max": 50,
            "default": 12
        },
        {
            "type": "header",
            "content": "Post settings"
        },
        {
            "type": "select",
            "id": "article_heading_size",
            "label": "Heading Size",
            "default": "h3",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "720"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "720"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_excerpt",
            "label": "Show excerpt",
            "default": true
        },
        {
            "type": "text",
            "id": "excerpt_length",
            "label": "Excerpt length",
            "info": "Leave empty to show all text",
            "default": "240"
        },
        {
            "type": "checkbox",
            "id": "show_posted_in",
            "label": "Show posted in (tags)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_readmore",
            "label": "Show readmore button",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_comments",
            "label": "Show comments button",
            "default": true
        },
        {
            "type": "select",
            "id": "readmore_btn_color",
            "label": "Readmore button color",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "readmore_btn_size",
            "label": "Readmore button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": true
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. Applies only if the setting 'Layout' above is selected to 'grid'. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. Applies only if the setting 'Layout' above is selected to 'grid'. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 6
        }
    ]
}
{% endschema %}