{% assign mt =  section.settings.margin_top | prepend: 'mt-' %}
{% assign mb =  section.settings.margin_bottom | prepend: 'mb-' %}

{% if section.settings.interval > 0 %}
    {% assign interval = section.settings.interval | times: 1000 %}
{% else %}
    {% assign interval = false %}
{% endif %}

<div
    id="{{ 'carousel-wrapper' | append: section.id }}"    
    class="{% if section.settings.container %}container{% endif %} {{ mt }} {{ mb }}">

    <!-- Carousel -->
    <div
        id="{{ 'carousel-' | append: section.id }}"
        class="carousel {{ section.settings.style }} {{ section.settings.transition }}"
        data-bs-ride="carousel"
        data-bs-pause="hover"
        data-bs-interval="{{ interval }}">

        <!-- Indicators -->
        {% if section.settings.indicators %}
            <ol class="carousel-indicators mb-3">
                {% for block in section.blocks %}
                    <li
                        data-bs-target="#{{ 'carousel-' | append: section.id }}"
                        data-bs-slide-to="{{ forloop.index0 }}"
                        class="{% if forloop.first == true %} active {% endif %}">
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        
        <div class="carousel-inner">
            {% for block in section.blocks %}
                <div
                    class="carousel-item {% if forloop.first == true %}active{% endif %}">
                    {% if block.settings.image != blank %}
                        {% assign img_size      = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                        {% assign img_size_800  = 800 | divided_by: block.settings.image.aspect_ratio | round | prepend: '800x' %}
                        <img
                            class="{% if block.settings.image_mobile != blank %} d-none {% endif %} d-md-block w-100 object-fit-cover h-auto"
                            src="{{ block.settings.image | img_url: img_size, crop: 'center' }}"
                            srcset="{{ block.settings.image | img_url: img_size_800, crop: 'center' }} 800w, {{ block.settings.image | img_url: img_size, crop: 'center' }} 1600w"
                            alt="{{ block.settings.image.alt }}"
                            width="{{ section.settings.img_width }}"
                            height="{{ section.settings.img_height }}"
                            loading="lazy"
                            style="{{ section.settings.image_min_height | prepend: 'min-height: ' | append: 'px' }};">
                    {% else %}
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}<!-- Do not use new lines here -->
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg d-block bg-secondary' }}
                    {% endif %}
                    {% if block.settings.image_mobile != blank %}
                        {% assign img_size_mobile  = 800 | divided_by: block.settings.image_mobile.aspect_ratio | round | prepend: '800x' %}
                        <img
                        class="d-block d-md-none w-100 object-fit-cover h-auto"
                        src="{{ block.settings.image_mobile | img_url: img_size_mobile, crop: 'center' }}"
                        alt="{{ block.settings.image_mobile.alt }}"
                        loading="lazy"
                        style="{{ section.settings.image_min_height | prepend: 'min-height: ' | append: 'px' }};">
                    {% endif %}
                    {% if block.settings.title != blank or block.settings.description != blank %}
                        <div class="container carousel-caption-wrap">
                            <div class="carousel-caption">
                                {% unless block.settings.title == blank %}
                                    <h1 class="{{ block.settings.title_size }}">
                                        {{ block.settings.title }}
                                    </h1>
                                {% endunless %}
                                {% unless block.settings.description == blank %}
                                    <div class="rte">
                                        {{ block.settings.description }}
                                    </div>
                                {% endunless %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

        {% if section.settings.controls and section.blocks.size > 1 %}
            <a 
                class="carousel-control-prev" 
                href="#{{ 'carousel-' | append: section.id }}" 
                role="button" 
                data-bs-slide="prev">
                <span aria-hidden="true">
                    &lt;
                </span>
                <span 
                    class="visually-hidden">
                    {{ 'general.previous' | t }}
                </span>
            </a>
            <a 
                class="carousel-control-next" 
                href="#{{ 'carousel-' | append: section.id }}" 
                role="button" 
                data-bs-slide="next">
                <span aria-hidden="true">
                    &gt;
                </span>
                <span 
                    class="visually-hidden">
                    {{ 'general.next' | t }}
                </span>
            </a>
        {% endif %}

    </div>
</div>

{% schema %}
{
    "name": "Carousel",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "controls",
            "default": true,
            "label": "Show Controls",
            "info": "Previous/Next arrow buttons"
        },
        {
            "type": "checkbox",
            "id": "indicators",
            "default": true,
            "label": "Show Indicators",
            "info": "Small rectangles at the bottom"
        },
        {
            "type": "select",
            "id":  "style",
            "label": "Style",
            "info": "Change color for for captions, controls and indicators.",
            "default": "",
            "options": [
                { "value": "", "label": "White" },
                { "value": "carousel-dark", "label": "Dark" }
            ]
        },
        {
            "type": "select",
            "id":  "transition",
            "label": "Transition",
            "info": "The transition effect when cycling between carousel items.",
            "default": "slide",
            "options": [
                { "value": "slide", "label": "Slide" },
                { "value": "slide carousel-fade", "label": "Fade" }
            ]
        },
        {
            "type": "range",
            "id": "interval",
            "min": 0,
            "max": 20,
            "step": 1,
            "unit": "sec",
            "label": "Interval",
            "info": "The amount of time to delay between automatically cycling an item. If 0, carousel will not automatically cycle.",
            "default": 6
        },
        {
            "type": "header",
            "content": "Image settings"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "1920"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "674"
        },
        {
            "type": "text",
            "id": "image_min_height",
            "label": "Image Minimum Height (px)",
            "default": "674",
            "info": "Prevent carousel images from going below this value. Useful in mobile view"
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image Mobile"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Title size",
                    "default": "h3",
                    "options": [
                        { "value": "h1", "label": "H1" },
                        { "value": "h2", "label": "H2" },
                        { "value": "h3", "label": "H3" },
                        { "value": "h4", "label": "H4" },
                        { "value": "h5", "label": "H5" },
                        { "value": "h6", "label": "H6" }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel",
            "category": "Image",
            "blocks": [
                {
                    "type": "image",
                    "settings": {
                        "title": "First slide title",
                        "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
                    }
                },
                {
                    "type": "image",
                    "settings": {
                        "title": "Second slide title",
                        "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
                    }
                },
                {
                    "type": "image",
                    "settings": {
                        "title": "Third slide title",
                        "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
                    }
                }
            ]
        }
    ]
}
{% endschema %}