<footer 
    id="footer" 
    class="overflow-hidden {{ section.settings.bg_style }}"
    style="{{ section.settings.bg_color | prepend: 'background-color: ' | append: ';' }}">

    <div id="footer-inner">
    
        <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">
                <div class="footer-container">
                    <div class="footer-menu">
                        <ul class="nav">
                            {% for link in linklists[section.settings.footer_menu].links %}
                                <li class="nav-item">
                                    <a 
                                        class="nav-link" 
                                        href="{{ link.url }}">
                                        {{ link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-social">
                        {% render 'social-icons-listing', location: 'footer' %}
                    </div>
                </div>
        </div>

    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in a container",
            "default": true
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "bg_style",
            "label": "Background style",
            "options": [
                { "value": "text-body", "label": "Light" },
                { "value": "text-white", "label": "Dark" }
            ],
            "default": "text-body"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer menu"
        }
    ],
    "default": {
        "settings":  {
        }
    }
}
{% endschema %}