{% assign ms = section.settings.margin_left | prepend: 'ms-' %}
{% assign me = section.settings.margin_right | prepend: 'me-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

<section id="image{{ section.id }}" class="image {{ ms }} {{ me }} {{ mt }} {{ mb }}">

    <!-- Image -->
    {% if section.settings.img == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
    {% else %}
        {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
        <img 
            class="image img img-fluid {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
            src="{{ section.settings.img | img_url: img_size, crop: 'center' }}"
            alt="{{ section.settings.img.alt | escape }}" 
            width="{{ section.settings.img_width }}"
            height="{{ section.settings.img_height }}" 
            loading="lazy">
    {% endif %}
                
</section>

{% schema %}
{
    "name": "Image",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": false
        },
        {
            "type": "header",
            "content": "Image settings"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "720"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "720"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": false
        },
        {
            "type": "range",
            "id": "margin_left",
            "label": "Margin left",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_right",
            "label": "Margin right",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Image",
            "category": "Image"
        }
    ]
}
{% endschema %}