{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}

<section 
    class="{{ pt }} {{ pb }} {{ mt }}">
    <div class="container">
        <div class="col col-12 col-lg-8">
            <h3>{{ section.settings.heading }}</h3>
            <p>{{ section.settings.copy }}</p>
        </div>
        <div class="col col-12 col-xs-12">
            <!-- Stackla Widget Embed Code (start) -->

            <div class="stackla-widget" data-ct="" data-hash="60a7447dd1603" data-id="81853" data-title="Ruffies Social Commerce " data-ttl="60" style="width: 100%; overflow: hidden;"></div>

            <script type="text/javascript">

            (function (d, id) {

                var t, el = d.scripts[d.scripts.length - 1].previousElementSibling;

                if (el) el.dataset.initTimestamp = (new Date()).getTime();

                if (d.getElementById(id)) return;

                t = d.createElement('script');

                t.src = '//assetscdn.stackla.com/media/js/widget/fluid-embed.js';

                t.id = id;

                (d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(t);

            }(document, 'stackla-widget-js'));

            </script>

            <!-- Stackla Widget Embed Code (end) -->
        </div>
        <div class="col col-12 col-xs-12 mt-7 text-center">
            <!-- Button -->
            {% if section.settings.btn_label != blank and section.settings.btn_url != blank %}
                <a
                    class="btn btn-outline-primary"
                    href="{{ section.settings.btn_url }}">
                    {{ section.settings.btn_label }}
                </a>
            {% endif %}
        </div>
    </div> 
</section>
{%schema%}
{
    "name": "Stackla Widget",
    "settings": [
        {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
        }, {
            "type": "textarea",
            "id": "copy",
            "label": "Copy"
        },
        {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "default": "SHARE YOUR STORY"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button link"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Stackla Widget",
            "category": "Instagram Feed"
        }
    ]
}

{%endschema%}
