{% if section.settings.background_style == "navbar-dark" %}
    {% assign dropdown_style = 'dropdown-menu-dark' %}
{% endif %}

<!-- Navbar -->
<nav
    id="navbar" 
    class="navbar navbar-expand-{{ section.settings.breakpoint }} {{ section.settings.background_style }} {{ section.settings.shadow }} {% if section.settings.sticky %}navbar-sticky{% endif %}">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">
        
        <!-- Navbar brand -->
        <a
            id="navbar-brand" 
            class="navbar-brand py-1 me-0 me-{{ section.settings.breakpoint }}-5" 
            href="/">
            {% if section.settings.logo == blank %}
                {{ shop.name | escape }}
            {% else %}
                {% assign logo_size = section.settings.logo_height | times: 2 | prepend: 'x' %}
                <img 
                    src="{{ section.settings.logo | img_url: logo_size }}" 
                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                    width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}"
                    height="{{ section.settings.logo_height | escape }}">
            {% endif %}
        </a>

        <!-- Navbar icons nav -->
        <div class="navbar-expand ms-0 ms-{{ section.settings.breakpoint }}-3 order-{{ section.settings.breakpoint }}-1">
            <ul
                id="navbar-icons-nav" 
                class="navbar-nav align-items-center">
                {% if section.settings.show_search %}
                    <li
                        id="search-nav-item"
                        class="nav-item dropdown">
                        <a 
                            id="search-nav-link"
                            class="nav-link d-flex {% if template.name == 'search' %}active{% endif %}" 
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-current="{% if template.name == 'search' %}page{% endif %}"
                            aria-expanded="false"
                            role="button">
                            {% render 'icon-search' size: 22 %}
                            <span class="visually-hidden">
                                {{ 'general.navbar.search' | t }}
                            </span>
                        </a>
                        <div
                            class="dropdown-menu dropdown-menu-end p-3 {{ dropdown_style }}"
                            aria-labelledby="search-nav-link">
                            {% render 'mini-search' %}
                        </div>
                    </li>
                {% endif %}
                {% if section.settings.show_account and shop.customer_accounts_enabled %}
                    <li 
                        id="account-nav-item"
                        class="nav-item d-none d-{{ section.settings.breakpoint }}-block">
                        <a 
                            class="nav-link d-flex {% if template.name == 'account' or template.name == 'login' %}active{% endif %}" 
                            href="{{ routes.account_url }}"
                            aria-current="{% if template.name == 'account' or template.name == 'login' %}page{% endif %}">
                            {% render 'icon-account' size: 22 %}
                            <span class="visually-hidden">
                                {{ 'general.navbar.account' | t }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
            

        <!-- Navbar toggle -->
        <button 
        class="navbar-toggler collapsed" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbar-collapse" 
        aria-controls="navbar-collapse" 
        aria-expanded="false" 
        aria-label="{{ 'general.accessibility.toogle_nav' | t }}">
        <svg class="burger" xmlns="http://www.w3.org/2000/svg" width="25" height="19.96"><path data-name="Path 6027" d="M.602 17.96c-.141 0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1 0 00-.071.02v.06l.248.22c0 .02 0 .02.035.04l.106.06a.649.649 0 00.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244 0 00-.106.04l-.071.04v.08l-.106.02a1.621 1.621 0 01-.318.04l.071.06c.177 0 .248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1 0 01.071.02l.106.04a2.591 2.591 0 00.355.14l.106.06c.248 0 .318.1.461.1a6.2 6.2 0 001.129.12h.425a5.566 5.566 0 01.565.04h.354c.6 0 1.026.1 1.877.1.106 0 .318-.02.565-.02h1.31c.814 0 .956-.04 1.381-.04h.106a.857.857 0 01.318-.04h.991c.106 0 .5-.04.6-.04h.29c.106 0 .637-.02.744-.02h1.129c.035 0 .354.02.461.02h.818c.106 0 .885.02 1.129.04h.394a1.237 1.237 0 01.384.04h.466c.461 0 .744.04 2.054.04 1.381 0 1.7-.06 2.484-.06h.49c.318 0 .637.02.744.02a3.084 3.084 0 001.168-.12l.283-.1a2.992 2.992 0 01.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057 0 01-.035-.06l.035-.2c0-.02 0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589 1.589 0 01-.106-.42v-1.16c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141 0-.248-.04-.355-.04l-.071-.02a.2.2 0 00-.106-.02l-.425-.04a9.655 9.655 0 00-1.063-.1h-.318c-.106 0-.92.06-1.026.06h-.071c-.213 0-1.878-.06-2.088-.06h-.215c-.035 0-.318-.02-.355-.02h-.035c-.885 0-1.275-.1-2.089-.1h-.243a.56.56 0 00-.212-.02h-.212c-.177 0-.565-.06-.6-.06h-.956c-.248 0-.677-.06-.779-.06h-.287c-.461 0-1.346.06-2.019.06h-.526q-.317.045-.637.06h-.141a.3.3 0 00-.141.02H8.79c-.035 0-.212.04-.318.04h-.071a7.162 7.162 0 00-.956.14l-3.541.02c-.035 0-.531-.02-.637-.02h-.461l-.354-.06H1.421c-.106 0-.177.02-.177.06l-.106.02a.1.1 0 00-.071.02l-.283.08a.1.1 0 00-.071.02l-.106.02-.071.08.071.1c0 .02 0 .02-.035.04l-.071.08.212.08a1.715 1.715 0 00-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177 0 .248.04.248.14H.43c0 .06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39 0 .39.14l-.035.02c-.035.02-.035.02-.035.04v.06zm2.3.78a.1.1 0 01.071-.02l.035.02c-.035.02-.035.02-.035.04zM.102 18h-.106l.035.04zM.602 9.96c-.141 0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1 0 00-.071.02v.06l.248.22c0 .02 0 .02.035.04l.106.06a.649.649 0 00.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244 0 00-.106.04l-.071.04v.08l-.106.02a1.621 1.621 0 01-.318.04l.071.06c.177 0 .248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1 0 01.071.02l.106.04a2.591 2.591 0 00.355.14l.106.06c.248 0 .318.1.461.1a6.2 6.2 0 001.129.12h.425a5.566 5.566 0 01.565.04h.354c.6 0 1.026.1 1.877.1.106 0 .318-.02.565-.02h1.31c.814 0 .956-.04 1.381-.04h.106a.857.857 0 01.318-.04h.991c.106 0 .5-.04.6-.04h.29c.106 0 .637-.02.744-.02h1.129c.035 0 .354.02.461.02h.818c.106 0 .885.02 1.129.04h.394a1.237 1.237 0 01.384.04h.466c.461 0 .744.04 2.054.04 1.381 0 1.7-.06 2.484-.06h.49c.318 0 .637.02.744.02a3.084 3.084 0 001.168-.12l.283-.1a2.992 2.992 0 01.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057 0 01-.035-.06l.035-.2c0-.02 0-.02-.035-.04l-.071-.02.106-.14.071-.02a1.589 1.589 0 01-.106-.42V9.26c0-.14-.141-.2-.141-.26l-.071-.06c-.036-.02-.036-.02-.036-.04v-.04l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141 0-.248-.04-.355-.04l-.071-.02a.2.2 0 00-.106-.02l-.425-.04a9.655 9.655 0 00-1.063-.1h-.318c-.106 0-.92.06-1.026.06h-.071c-.213 0-1.878-.06-2.088-.06h-.215c-.035 0-.318-.02-.355-.02h-.035c-.885 0-1.275-.1-2.089-.1h-.243a.56.56 0 00-.212-.02h-.212c-.177 0-.565-.06-.6-.06h-.956c-.248 0-.677-.06-.779-.06h-.287c-.461 0-1.346.06-2.019.06h-.526q-.317.045-.637.06h-.141a.3.3 0 00-.141.02H8.79c-.035 0-.212.04-.318.04h-.071a7.162 7.162 0 00-.956.14l-3.541.02c-.035 0-.531-.02-.637-.02h-.461l-.354-.06H1.421c-.106 0-.177.02-.177.06l-.106.02a.1.1 0 00-.071.02l-.283.08a.1.1 0 00-.071.02l-.106.02-.071.08.071.1c0 .02 0 .02-.035.04l-.071.08.212.08a1.715 1.715 0 00-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177 0 .248.04.248.14H.43c0 .06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39 0 .39.14l-.035.02c-.035.02-.035.02-.035.04v.06zm2.3.78a.1.1 0 01.071-.02l.035.02c-.035.02-.035.02-.035.04zM.102 10h-.106l.035.04zM.602 1.96c-.141 0-.284.04-.39.04l-.071.02.39.16-.177.04a.1.1 0 00-.071.02v.06l.248.22c0 .02 0 .02.035.04l.106.06a.649.649 0 00.177.04l.035.06c-.035.02-.035.02-.035.04v.04l-.035-.02a.244.244 0 00-.106.04l-.071.04v.08l-.106.02A1.621 1.621 0 01.213 3l.071.06c.177 0 .248.02.248.08l.035.06c-.035.02-.035.02-.035.04l-.106.08.035.02a.1.1 0 01.071.02l.106.04a2.591 2.591 0 00.355.14l.106.06c.248 0 .318.1.461.1a6.2 6.2 0 001.129.12h.425a5.566 5.566 0 01.565.04h.354c.6 0 1.026.1 1.877.1.106 0 .318-.02.565-.02h1.31c.814 0 .956-.04 1.381-.04h.106a.857.857 0 01.318-.04h.991c.106 0 .5-.04.6-.04h.29c.106 0 .637-.02.744-.02h1.129c.035 0 .354.02.461.02h.818c.106 0 .885.02 1.129.04h.394a1.237 1.237 0 01.384.04h.466c.461 0 .744.04 2.054.04 1.381 0 1.7-.06 2.484-.06h.49c.318 0 .637.02.744.02a3.084 3.084 0 001.168-.12l.283-.1a2.992 2.992 0 01.461-.08l.106-.02c0-.06.177-.18.212-.2l-.071-.06a.057.057 0 01-.035-.06l.035-.2c0-.02 0-.02-.035-.04L24.821 3l.106-.14.071-.02a1.589 1.589 0 01-.106-.42V1.26c0-.14-.141-.2-.141-.26L24.68.94c-.036-.02-.036-.02-.036-.04V.86l-.247-.14c-.035-.02-.035-.02-.035-.04l-.041-.02c0-.04-.067-.08-.173-.1l-.176-.08c-.141 0-.248-.04-.355-.04l-.071-.02A.2.2 0 0023.44.4l-.425-.04a9.655 9.655 0 00-1.063-.1h-.318c-.106 0-.92.06-1.026.06h-.071c-.213 0-1.878-.06-2.088-.06h-.215c-.035 0-.318-.02-.355-.02h-.035c-.885 0-1.275-.1-2.089-.1h-.243A.56.56 0 0015.3.12h-.212c-.177 0-.565-.06-.6-.06h-.956c-.248 0-.677-.06-.779-.06h-.287c-.461 0-1.346.06-2.019.06h-.526q-.317.045-.637.06h-.141a.3.3 0 00-.141.02H8.79c-.035 0-.212.04-.318.04h-.071a7.162 7.162 0 00-.956.14L3.904.34c-.035 0-.531-.02-.637-.02h-.461L2.452.26H1.421c-.106 0-.177.02-.177.06l-.106.02a.1.1 0 00-.071.02L.784.44a.1.1 0 00-.071.02L.607.48.536.56l.071.1c0 .02 0 .02-.035.04L.501.78l.212.08a1.715 1.715 0 00-.425.12l.106.04v.04c-.035.02-.035.02-.035.04l-.071.1c.177 0 .248.04.248.14H.43c0 .06-.177.12-.212.12l-.035.02.177.12-.177.06.035.02c.248.14.39 0 .39.14l-.035.02c-.035.02-.035.02-.035.04v.06zm2.3.78a.1.1 0 01.071-.02l.035.02c-.035.02-.035.02-.035.04zM.102 2h-.106l.035.04z" fill="#001c31"/></svg>
        <svg class="cross" xmlns="http://www.w3.org/2000/svg" width="25" height="20.478"><path data-name="Path 6027" d="M4.072 18.638c-.1.1-.172.23-.247.304l-.036.065.389-.163-.097.154a.1.1 0 00-.036.064l.042.042.331-.02c.014.015.014.015.053.004l.118-.033a.649.649 0 00.153-.096l.067.017c-.01.04-.01.04.004.053l.028.029-.039.01a.244.244 0 00-.046.103l-.022.079.056.057-.06.089a1.621 1.621 0 01-.197.253l.092-.008c.126-.125.19-.161.232-.119l.068.018c-.011.039-.011.039.003.053l-.018.131.039-.01a.1.1 0 01.064-.036l.103-.047a2.591 2.591 0 00.35-.152l.118-.032c.175-.176.295-.155.396-.256a6.2 6.2 0 00.883-.713l.3-.3a5.566 5.566 0 01.429-.372l.25-.25c.424-.425.796-.655 1.398-1.257.075-.075.21-.239.385-.413l.927-.927c.575-.575.647-.704.948-1.005l.075-.075a.857.857 0 01.196-.253l.701-.7c.075-.075.325-.382.396-.453l.205-.205c.075-.075.436-.465.512-.54l.798-.799c.025-.024.265-.236.34-.311l.579-.579c.075-.075.64-.611.827-.77l.278-.278a1.237 1.237 0 01.3-.244l.33-.33c.326-.325.554-.497 1.48-1.423.977-.977 1.16-1.245 1.714-1.8l.347-.346c.225-.225.464-.436.54-.512a3.084 3.084 0 00.741-.91l.13-.271a2.992 2.992 0 01.269-.383l.06-.089c-.042-.042-.001-.252.01-.291l-.094.008a.057.057 0 01-.067-.018l-.116-.166c-.015-.014-.015-.014-.053-.004l-.065.036-.024-.174.036-.064a1.589 1.589 0 01-.372-.222l-.82-.82c-.099-.1-.241-.042-.283-.084l-.093.007c-.04.012-.04.012-.054-.003L20.295.86l-.274.076c-.039.01-.039.01-.053-.004l-.043.015c-.028-.028-.104-.009-.193.052l-.181.068c-.1.1-.204.147-.28.222l-.064.036a.2.2 0 00-.089.061l-.329.273a9.655 9.655 0 00-.822.68l-.225.225c-.075.075-.608.693-.683.768l-.05.05c-.15.151-1.37 1.286-1.519 1.434l-.152.153c-.025.024-.239.21-.265.236l-.025.025c-.626.626-.972.831-1.548 1.407l-.172.171a.56.56 0 00-.164.136l-.15.15c-.125.125-.441.357-.466.382l-.676.676c-.176.175-.521.436-.593.508l-.203.203c-.326.326-.91.994-1.386 1.47l-.372.372q-.192.256-.408.493l-.1.1a.3.3 0 00-.085.114l-.15.15c-.024.024-.121.178-.196.253l-.05.05a7.162 7.162 0 00-.577.775l-2.49 2.518c-.025.025-.39.361-.465.436l-.326.326-.292.208-.73.73c-.074.074-.11.138-.082.167l-.061.089a.1.1 0 00-.036.064l-.144.257a.1.1 0 00-.036.064l-.06.09.006.106.12.02c.015.015.015.015.004.054l.007.106.206-.093a1.715 1.715 0 00-.216.385l.104-.046.028.028c-.01.039-.01.039.003.053l.021.12c.125-.124.204-.146.274-.075l-.075.075c.043.042-.04.21-.065.234l-.01.04.21-.041-.083.167.039-.01c.274-.077.276-.276.375-.177l-.01.039c-.012.039-.012.039.003.053l.042.042zm2.178-1.075a.1.1 0 01.036-.064l.04-.01c-.011.038-.011.038.003.053zM3.747 19.02l-.075.075.053.004z" fill="#fff"/><path data-name="Path 6027" d="M4.1 1.811c-.099-.1-.228-.172-.303-.247l-.065-.036.163.389-.154-.097a.1.1 0 00-.064-.036l-.042.042.02.331c-.015.014-.015.014-.004.053l.033.118a.649.649 0 00.096.153l-.017.067c-.04-.01-.04-.01-.053.004l-.029.028-.01-.039a.244.244 0 00-.103-.046l-.079-.022-.057.056-.089-.06a1.621 1.621 0 01-.253-.197l.008.092c.125.126.161.19.119.232l-.018.068c-.039-.011-.039-.011-.053.003l-.131-.018.01.039a.1.1 0 01.036.064l.047.103a2.591 2.591 0 00.152.35l.032.118c.176.175.155.295.256.396a6.2 6.2 0 00.713.883l.3.3a5.566 5.566 0 01.372.429l.25.25c.425.424.655.796 1.257 1.398.075.075.239.21.413.385l.927.927c.575.575.704.647 1.005.948l.075.075a.857.857 0 01.253.196l.7.701c.075.075.382.325.453.396l.205.205c.075.075.465.436.54.512l.799.798c.024.025.236.265.311.34l.579.579c.075.075.611.64.77.827l.278.278a1.237 1.237 0 01.244.3l.33.33c.325.326.497.554 1.423 1.48.977.977 1.245 1.16 1.8 1.714l.346.347c.225.225.436.464.512.54a3.084 3.084 0 00.91.741l.271.13a2.992 2.992 0 01.383.269l.089.06c.042-.042.252-.001.291.01l-.008-.094a.057.057 0 01.018-.067l.166-.116c.014-.015.014-.015.004-.053l-.036-.065.174-.024.064.036a1.589 1.589 0 01.222-.372l.82-.82c.1-.099.042-.241.084-.283l-.007-.093c-.012-.04-.012-.04.003-.054l.028-.028-.076-.274c-.01-.039-.01-.039.004-.053l-.015-.043c.028-.028.009-.104-.052-.193l-.068-.181c-.1-.1-.147-.204-.222-.28l-.036-.064a.2.2 0 00-.061-.089l-.273-.329a9.655 9.655 0 00-.68-.822l-.225-.225c-.075-.075-.693-.608-.768-.683l-.05-.05c-.151-.15-1.286-1.37-1.434-1.519l-.153-.152c-.024-.025-.21-.239-.236-.265l-.025-.025c-.626-.626-.831-.972-1.407-1.548l-.171-.172a.56.56 0 00-.136-.164l-.15-.15c-.125-.125-.357-.441-.382-.466l-.676-.676c-.175-.176-.436-.521-.508-.593l-.203-.203c-.326-.326-.994-.91-1.47-1.386l-.372-.372q-.256-.192-.493-.408l-.1-.1a.3.3 0 00-.114-.085l-.15-.15c-.024-.024-.178-.121-.253-.196l-.05-.05a7.162 7.162 0 00-.775-.577L7.581 3c-.025-.025-.361-.39-.436-.465l-.326-.326-.208-.292-.73-.73c-.074-.074-.138-.11-.167-.082l-.089-.061a.1.1 0 00-.064-.036L5.304.865A.1.1 0 005.24.83L5.15.77l-.106.006-.02.12C5.008.91 5.008.91 4.97.9l-.106.007.093.206a1.715 1.715 0 00-.385-.216L4.618 1l-.028.028c-.039-.01-.039-.01-.053.003l-.12.021c.124.125.146.204.075.274l-.075-.075c-.042.043-.21-.04-.234-.065l-.04-.01.041.21-.167-.083.01.039c.077.274.276.276.177.375l-.039-.01c-.039-.012-.039-.012-.053.003l-.042.042zM5.177 3.99a.1.1 0 01.064.036l.01.04c-.038-.011-.038-.011-.053.003zM3.719 1.486l-.075-.075-.004.053z" fill="#fff"/></svg>
        </button>

        <!-- Navbar collapse -->
        <div
            id="navbar-collapse"
            class="collapse navbar-collapse">
            
            <!-- Navbar nav -->
            <ul
                id="navbar-nav" 
                class="navbar-nav my-2 my-{{ section.settings.breakpoint }}-0 {{ section.settings.menu_position | escape }}">
                {% for link in linklists[section.settings.menu].links %}
                    {% if link.links == blank %}
                        {% assign has_dropdown = false %}
                    {% else %}
                        {% assign has_dropdown = true %}
                    {% endif %}
                    
                    <li class="nav-item {% if has_dropdown %}dropdown{% endif %}">
                        <a 
                            id="{{ forloop.index | prepend: 'nav-link-' }}" 
                            class="nav-link {% if link.active %}active{% endif %} {% if has_dropdown %}dropdown-toggle{% endif %}" 
                            href="{{ link.url }}"
                            aria-current="{% if link.active %}page{% endif %}" 
                            {% if has_dropdown %}
                                role="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false"
                            {% endif %}>
                            {{ link.title }}
                        </a>
                        {% if has_dropdown %}
                            <ul 
                                class="dropdown-menu {{ dropdown_style }}" 
                                aria-labelledby="{{ forloop.index | prepend: 'nav-link-' }}">
                                {% for child_link in link.links %}
                                    {% if child_link.title contains "-divider" %}
                                        <div class="dropdown-divider"></div>
                                    {% else %}
                                        <li>
                                            <a 
                                                class="dropdown-item {% if child_link.active %}active{% endif %}" 
                                                href="{{ child_link.url }}"
                                                aria-current="{% if child_link.active %}page{% endif %}">
                                                {{ child_link.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if section.settings.show_account and shop.customer_accounts_enabled %}
                    <li class="nav-item d-{{ section.settings.breakpoint }}-none">
                        <a 
                            class="nav-link d-flex {% if template.name == 'account' or template.name == 'login' %}active{% endif %}" 
                            href="{{ routes.account_url }}"
                            aria-current="{% if template.name == 'account' or template.name == 'login' %}page{% endif %}">
                            {% render 'icon-account' size: 24 %}
                            <span class="ms-2">
                                {{ 'general.navbar.account' | t }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            
        </div>

        {% render 'social-icons-listing', location: 'header' %}
    </div>
</nav>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
        {% assign img_size = section.settings.logo_height | times: 2 | prepend: 'x'  %}
        "logo": {{ section.settings.logo | img_url: img_size | prepend: "https:" | json }},
    {% endif %}
    "url": {{ shop.url | append: page.url | json }}
}
</script>
    
{% if request.page_type == 'index' %}
    {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
            "potentialAction": {
                "@type": "SearchAction",
                "target": {{ potential_action_target | json }},
                "query-input": "required name=search_term_string"
            },
            "url": {{ shop.url | append: page.url | json }}
        }
    </script>
{% endif %}

{% schema %}
{
    "name": "Navbar",
    "settings": [
        {
            "type": "header",
            "content": "General settings"   
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in a container",
            "default": true
        },
        {
            "type": "select",
            "id": "background_style",
            "label": "Background style",
            "options": [
                { "value": "navbar-light", "label": "Light" },
                { "value": "navbar-dark", "label": "Dark" }
            ],
            "default": "navbar-light"
        },
        {
            "type": "select",
            "id": "shadow",
            "label": "Shadow",
            "default": "shadow-sm",
            "options": [
                { "value": "shadow-none", "label": "No Shadow" },
                { "value": "shadow-sm", "label": "Shadow sm" },
                { "value": "shadow", "label": "Shadow" },
                { "value": "shadow-lg", "label": "Shadow lg" }
            ]
        },
        {
            "type": "checkbox",
            "id": "sticky",
            "label": "Sticky navbar",
            "info": "Fixed position on scroll",
            "default": true
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "logo_height",
            "label": "Logo height",
            "info": "Preferred height for your logo in pixels. We recommended a value between 30 to 40",
            "default": "30"
        },
        {
            "type": "header",
            "content": "Menu"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "select",
            "id": "menu_position",
            "label": "Menu Position",
            "options": [
                { "value": "me-lg-auto", "label": "Left" },
                { "value": "mx-lg-auto", "label": "Center" },
                { "value": "ms-lg-auto", "label": "Right" }
            ],
            "default": "mx-lg-auto"
        },
        {
            "type": "header",
            "content": "Icon menu"
        },
        {
            "type": "checkbox",
            "id": "show_search",
            "label": "Show search",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_account",
            "label": "Show Account",
            "default": true
        },
        {
            "type": "color",
            "id": "cart_badge_color",
            "label": "Cart badge color",
            "info": "Visible only when there are items in cart",
            "default": "#0d6efd"
        },
        {
            "type": "header",
            "content": "Advanced"
        },
        {
            "type": "select",
            "id": "breakpoint",
            "label": "Breakpoint",
            "info": "At what point the navbar should collapse. Do not change this setting unless you know what you are doing. [Learn more](https://getbootstrap.com/docs/5.0/components/navbar/#responsive-behaviors)",
            "options": [
                { "value": "md", "label": "md" },
                { "value": "lg", "label": "lg" },
                { "value": "xl", "label": "xl" }
            ],
            "default": "lg"
        }
    ]
}
{% endschema %}