{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

{% if section.settings.heading != empty %}
    {% assign heading = section.settings.heading %}
{% else %}
    {% assign heading = page.title %}
{% endif %}

<article>

    <div 
        class="container mx-auto"
        style="{{ max_width }}">

        <!-- Header -->
        <header class="heading-wrapper mb-2 overflow-hidden text-{{ section.settings.heading_align }}">

            <!-- Heading -->
            <h1 class="heading {{ section.settings.heading_size }} ">
                {{ heading }}
            </h1>

            <!-- Sub Heading -->
            {% unless section.settings.subheading == blank %}
                <div class="subheading rte text-muted {{ section.settings.subheading_size }}">
                    {{ section.settings.subheading }}
                </div>
            {% endunless %}

        </header>

        <!-- Description -->
        <div class="description rte">
            {{ page.content }}
        </div>

    </div>
</article>

{% schema %}
{
    "name": "Page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "850"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Custom heading",
            "info": "Custom heading to replace the page heading"
        },
        {
            "type": "select",
            "id": "heading_align",
            "label": "Heading alignment",
            "default": "start",
            "options": [
                {"group": "Alignment", "value": "start", "label": "Left" },
                {"group": "Alignment", "value": "center", "label": "Center" },
                {"group": "Alignment", "value": "end", "label": "Right" }
            ]
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h1",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
         {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write something catchy for this section.</p>"
        },{
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        }
    ]
}
{% endschema %}