{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<article class="">

    <div 
        class="container mx-auto"
        style="{{ max_width }}">

        <!-- Header -->
        <header class="heading-wrapper mb-0 overflow-hidden">

            <!-- Heading -->
            <h1 class="heading {{ section.settings.heading_size }}">
                {{ page.title }}
            </h1>

        </header>

        <!-- Description -->
        <div class="description rte overflow-hidden mb-8" style="max-width: 731px;">
            {{ page.content }}
        </div>

        <!-- Contact form -->
        {% form 'contact', class: 'contact-form mb-8 needs-validation' %}

            <!-- Form success -->
            {% if form.posted_successfully? %}
                <p class="form-success alert alert-success mb-4" role="alert">
                    {{ 'general.contact.post_success' | t }}
                </p>
            {% endif %}

            <!-- Form errors -->
            {{ form.errors | default_errors }}

            <!-- Form fields -->
            <div class="form-group mb-7">
                <input 
                    class="form-control" 
                    type="text" 
                    name="contact[name]" 
                    id="ContactFormName" 
                    value="{{ customer.name }}"  
                    placeholder="{{ 'general.contact.name' | t }}" 
                    aria-label="{{ 'general.contact.name' | t }}" 
                    required>
            </div>

            <!-- Form fields -->
            <div class="form-group mb-7">
                <input 
                    class="form-control" 
                    type="email" 
                    name="contact[email]" 
                    id="ContactFormEmail" 
                    value="{{ customer.email }}" 
                    placeholder="{{ 'general.contact.email' | t }}" 
                    aria-label="{{ 'general.contact.email' | t }}" 
                    spellcheck="false" 
                    autocomplete="off" 
                    autocapitalize="off" 
                    required>
            </div>

            <!-- Form fields -->
            <div class="form-group mb-7">
                <input 
                    class="form-control" 
                    type="tel" 
                    name="contact[phone]" 
                    id="ContactFormPhone" 
                    value="{{ customer.phone }}" 
                    placeholder="{{ 'general.contact.phone' | t }}" 
                    aria-label="{{ 'general.contact.phone' | t }}" 
                    pattern="[0-9\-]*">
            </div>

            <!-- Textarea -->
            <div class="form-group mb-7">
                <textarea 
                    class="form-control" 
                    rows="8" 
                    name="contact[body]" 
                    id="ContactFormMessage" 
                    placeholder="{{ 'general.contact.message' | t }}" 
                    aria-label="{{ 'general.contact.message' | t }}" 
                    required>
                    {%- if form.body -%}
                        {{- form.body -}}
                    {%- endif -%}
                </textarea>
            </div>

            <!-- Submit btn -->

            <div class="row mb-7 justify-content-between align-items-center">
                <div class="form-group col-12 col-xxl-7 mb-7 mb-xxl-0">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label" for="flexCheckDefault">
                            I agree to Ruffie rustic foods’ privacy policy
                        </label>
                      </div>
                </div>
                <div class="form-group col-12 col-sm-auto text-center">
                    <input 
                        type="submit" 
                        class="btn btn-outline-primary" 
                        value="{{ 'general.contact.send' | t }}"></div>
            </div>
        {% endform %}

    </div>
</article>

{% schema %}
{
    "name": "Contact us - page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "850"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h1",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        }
    ]
}
{% endschema %}