

{%- if product -%}
<article id="product-{{ product.id }}" >

    <div class="product-container container">
        <div class="row">

            <!-- Image -->
            <div class="col-md-5 order-md-2">                      
                {% assign img_size   = '680x' %}
                {% assign img_height = 680 | divided_by: media.aspect_ratio %}
                {% assign media = product.media.last %}
                {% if media %}
                <div class="product-media">
                    <!-- Weight -->
                    <label class="product-weight">
                        {{ product.selected_variant.weight | weight_with_unit }}
                    </label>
                    <img
                        class="d-block img-fluid product-media-main"
                        src="{{ media.preview_image | img_url: img_size, crop: 'center' }}"
                        data-src="{{ media.preview_image | img_url: img_size, crop: 'center' }}"
                        alt="{{ media.alt | escape }}"
                        width="680"
                        height="{{ img_height }}"
                        loading="lazy">
                    <img class="product-media-attach" src="{{ 'meditation.svg' | asset_url }}" >
                    <img class="product-media-deco" src="{{ 'sun.png' | asset_url }}" >
                </div>
                {% endif %}
            </div>

            <div class="col-md-7 order-md-1">

                <!-- Heading -->
                <h2 class="heading my-1 text-uppercase">
                    {{ product.title }}
                    <!-- Type -->
                    {% if product.type != blank %}
                        <span class="d-block small mb-1 mt-1">
                            {{ product.type }}
                        </span>
                    {% endif %}
                </h2>

                <!-- Description -->
                {% if product.description != blank %}
                    {% include 'shortcode' load: product.description %}
                {% endif %}
            </div>

             <!-- Main Info -->
            <div class="col-md-12 product-info-main order-md-3">  

            </div>

        </div>
    </div>

</article>
{%- endif -%}

{% schema %}
{
    "name": "Product page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        }
    ]
}
{% endschema %}