{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<section 
    id="testimonials-ruffie-{{ section.id }}" 
    class="testimonials-ruffie {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="testimonials__container {% if section.settings.container %}container{% else %}container-fluid{% endif %}">

        {% if section.settings.heading != blank or section.settings.subheading != blank %}
            <div class="heading-wrapper mb-3 overflow-hidden">

                {% unless section.settings.heading == blank %}
                    <h2 class="heading mb-1 {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endunless %}

                {% unless section.settings.subheading == blank %}
                    <div class="subheading rte text-muted {{ section.settings.subheading_size }} {{ section.settings.heading_alignment }}">
                        {{ section.settings.subheading }}
                    </div>
                {% endunless %}

            </div>
        {% endif %}
        
        {% if section.blocks.size == 0 %}
            
            <p class="alert alert-warning">
                Add at least one block!
            </p>

        {% else %}

            <ul class="testimonials-ruffie-grid list-unstyled row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">
               
                {% for block in section.blocks %}
                    <li class="testimonials-ruffie-item testimonials__item col pb-5 {{ section.settings.block_text_alignment }}">
                       
                        <div class="testimonials__wrapper">
                            <div class="testimonials__copy">
                                <!-- Text -->
                                {% unless block.settings.text == blank %}
                                    <div class="rte">
                                        {{ block.settings.text }}
                                    </div>
                                {% endunless %}
                            </div>
                            <div class="testimonials__author">
                                <div class="testimonials__image">
                                    <!-- Image -->
                                    {% if block.settings.img == blank %}
                                         <img class="img-fluid rounded" src="{{'Instagram-Circle.png'| asset_url}}" > 
                                    {% else %}
                                        {% assign img_size = '108x108' %}
                                        <img 
                                            class="product-item-img img-fluid rounded"
                                            src="{{ block.settings.img | img_url: img_size, crop: 'center' }}"
                                            alt="{{ block.settings.img.alt | escape }}" 
                                            loading="lazy">
                                    {% endif %}
                                </div>
                                <div class="testimonials__wrapper">
                                    <!-- Heading -->
                                    {% unless block.settings.heading == blank %}
                                        <p class="name mb-0">
                                            <b>
                                            {% if block.settings.heading contains '@' %}
                                                <a class="text-decoration-none" target="_blank" href="https://www.instagram.com/{{block.settings.heading | replace: '@', ''}}/">{{ block.settings.heading }}</a>
                                            {% else %}
                                                {{ block.settings.heading }}
                                            {% endif %}
                                            </b>
                                        </p>
                                    {% endunless %}
                                    <!-- Heading -->
                                    {% unless block.settings.location == blank %}
                                        <p class="location mb-0">
                                            {{ block.settings.location }}
                                        </p>
                                    {% endunless %}
                                </div>
                            </div>
                        </div>

                    </li>
                {% endfor %}

            </ul>
            
        {% endif %}

    </div>
</section>

{% schema %}
{
    "name": "Testimonials",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Leave empty to disable",
            "default": "Text column with image"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "header",
            "content": "Content settings"
        },
        {
            "type": "select",
            "id": "block_text_alignment",
            "label": "Text alignment",
            "default": "text-start",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ]
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Name"
                },
                {
                    "type": "text",
                    "id": "location",
                    "label": "Location"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Testimonials",
            "category": "Text",
            "blocks": [
                {
                    "type": "content",
                    "settings": {
                        "heading": "Add a title or tagline",
                        "text": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
                    }
                },
                {
                    "type": "content",
                    "settings": {
                        "heading": "Add a title or tagline",
                        "text": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
                    }
                },
                {
                    "type": "content",
                    "settings": {
                        "heading": "Add a title or tagline",
                        "text": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
                    }
                },
                {
                    "type": "content",
                    "settings": {
                        "heading": "Add a title or tagline",
                        "text": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
                    }
                }
            ]
        }
    ]
}
{% endschema %}