<article class="page-404">
    <div class="container">
        <div class="page-404-row">
            <div class="me-12" >
                <h1 class="page-404-title">
                    {{ 'general.404.title' | t }}
                    <img src="{{'earth-run.png' | asset_url }}" alt="404">
                </h1>
                <h3 class="page-404-subtitle">
                    {{ 'general.404.subtitle' | t }}
                </h3>
                <p class="mb-10" style="max-width: 655px;">
                    {{ 'general.404.subtext_html' | t }}
                </p>
                <p class="mb-12" >
                    <a href="/" class="btn btn-link">
                        {{ 'general.404.go_homepage' | t }}
                    </a>
                </p>
            </div>
            <div class="">
                <div class="page-404-illustration d-flex justify-content-end align-items-end h-100">
                    <img class="page-404-illustration-image" src="{{'globle_flowers.png' | asset_url }}" width="175" alt="404 illustration">
                </div>
            </div>
        </div>
       
    </div>
</article>

<style>
#main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-404-row{
    display: flex;
    justify-content: space-between;
}
.page-404-title{
    color: #74b4dc;
    font-size: 166px;
    font-weight: 500;
    line-height: 0.7;
    position: relative;
    display: inline-block;
}
.page-404-title img{
    position: absolute;
    width: 180px;
    left:50%;
    transform: translateX(-50%);
}
.page-404-subtitle{
    color: #20455e;
    font-size: 62px;
    font-weight: 500;
}
.page-404 .btn-link{
    color: #0199ff;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
}
.page-404-illustration-image{
    width: 175px;
    transform: scaleX(-100%)
}
</style>
