<div class="d-block d-lg-flex justify-content-center align-items-end">
    <div class="page-content">
    {% section 'page-contact-template' %}
    </div>

    <img class="ms-9 mb-6" width=182 src="{{ 'chill.png' | asset_url }}">
</div>