<div class="d-block d-lg-flex justify-content-center align-items-end">
    <div class="page-content">
        {% section 'page-template' %}
        
        <!-- FAQ -->
        {% section 'faq' %}
    </div>

    <img class="ms-12 mb-8" width=125 src="{{ 'globle_flowers.png' | asset_url }}">
</div>