<div class="storelocator my-n7">
  <div class="row">

    <div class="col-md-5 col-lg-4 col-xl-3 order-md-2">
      <div class="storelocator-sidebar mx-2">
        <h4>Ruffie Finder</h4>
        <p>
          While you can find us at your local Woolworths, here’s a quick way to find us at a variety of independent
          stores
          nationwide.
        </p>

        <div class="input-group mb-3">
          <input id="postcode" type="text" class="form-control" placeholder="Enter suburb or postcode"
            aria-label="Enter suburb or postcode">
          <button class="btn btn-primary" type="button" onclick="getPostalLocation()">Find</button>
        </div>

        <img class="storelocator-deco d-none d-md-block" src="{{ 'locator.png' | asset_url }}">
      </div>
    </div>
    <div class="col-md-7 col-lg-8  col-xl-9 order-md-1">
      <div class="storelocator-map">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <img id="clusterImage" src="{{ 'cluster.svg' | asset_url }}" class="d-none">

  <script src="{{'stores-data.js' | asset_url }}"></script>

  {% comment %} <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script> {% endcomment %}


</div>